@import "../variables/colors";

.button {
  position: relative;
  color: $white;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none !important;
  &.button_red {
    background-color: $bright-red;
    border-color: $bright-red;
    &:hover {
      background-color: $dark-red;
      border-color: $dark-red;
    }
  }
  &.button_long {
    padding: 8px 26px;
  }
}