@import "../variables/colors";
@import "../fonts";

.form {
  .form_submit_holder {
    display: none;
    color: $bright-red;
  }
  .form_control {
    display: block;
    box-sizing: border-box;
    height: 40px;
    padding: 0 10px;
    line-height: 1.42857143;
    color: $cool-grey;
    background-color: $white;
    background-image: none;
    border: 1px solid $silver;
    border-radius: 3px;
    outline: none !important;
    &::-webkit-input-placeholder {
      color: $cool-grey;
      size: 16px;
    }
    &::-moz-placeholder {
      color: $cool-grey;
      size: 16px;
    }
    &:-ms-input-placeholder {
      color: $cool-grey;
      size: 16px;
    }
    &:-moz-placeholder {
      color: $cool-grey;
      size: 16px;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $white inset;
      -webkit-text-fill-color: $cool-grey !important;
    }
  }
  &.form__inline {
    .form_inline_group {
      float: left;
      &.joined_inline_group {
        position: relative;
        .button {
          position: absolute;
          top: 0px;
          right: 0px;
        }
        .form_control {
          padding-right: 120px;
        }
      }
    }
    label {
      line-height: 40px;
      margin-right: 16px;
      font-size: 18px;
    }
  }
  &.form_sticked_inline {
    .form_control {
      border-right: none;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;

    }
    .button {
      border-left: none;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}
.subscribe__form {
  position: absolute;
  top: 42px;
  right: 0px;
  .form__success {
    display: none;
  }
  .form_control {
    width: 333px;
  }
  .button {
    font-family: $semiboldFont;
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .subscribe__form {
    position: static;
    margin-top: 24px;
    padding: 0 15px;
  }
}

@media (max-width: 680px) {
  .subscribe__form {
    .form {
      label {
        font-size: 13px;
      }
      .form_control {
        width: 100%;
      }
      &.form__inline {
        .form_inline_group {
          float: none;
          width: 100%;
          &:nth-child(1) {
            text-align: center;
          }
        }
      }
    }
  }
}