.icon {
  &.footer_adv_twitter {
    padding: 0 6px;
  }
  &.footer_adv_instagram {
    padding-left: 6px;
  }
}

@media (max-width: 680px) {
  .icon {
    &.footer_adv_twitter {
      padding: 0 5px;
    }
    &.footer_adv_instagram {
      padding-left: 5px;
    }
  }
}