{% use "form_div_layout.html.twig" %}

{%- block form_row -%}
    <div class="field">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' label')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}

{%- block form_widget_simple -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' input')|trim}) %}
    <p class="control">
        {{- parent() -}}
    </p>
{%- endblock form_widget_simple -%}

{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' button')|trim}) %}
    {{- parent() -}}
{%- endblock %}

{%- block choice_widget_expanded -%}
    <p class="control">
        {%- for child in form %}
            <label class="checkbox">
                {{- form_widget(child) }} {{ child.vars.label }}
            </label><br>
        {% endfor -%}
    </p>
{%- endblock choice_widget_expanded -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="help is-danger">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}
