{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="message">
                    <div class="message__head">
                        Nice one. Your payment was successful!
                    </div>
                    <div class="message__body">
                        Please fill me with the correct text.
                    </div>
                    <div class="message__footer"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_signup_button %}{% endblock %}
