{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row payment">
            <div class="col-xs-12 col-md-6">
                <div class="infoblock">
                    <h2 class="infoblock__title">What you <span class="infoblock__highlight infoblock__highlight--will">will</span> get with a paid membership</h2>
                    <ul class="infoblock__list">
                        <li class="infoblock__item infoblock__item--will">
                            Weekly updates
                        </li>
                        <li class="infoblock__item infoblock__item--will">
                            True 4K and HD videos
                        </li>
                        <li class="infoblock__item infoblock__item--will">
                            Behind-the-scenes footage
                        </li>
                        <li class="infoblock__item infoblock__item--will">
                            Hi-res photo sets
                        </li>
                        <li class="infoblock__item infoblock__item--will">
                            Fully mobile compatible
                        </li>
                        <li class="infoblock__item infoblock__item--will">
                            Discrete billing
                        </li>
                        <li class="infoblock__item infoblock__item--will">
                            24/7 support
                        </li>
                        <li class="infoblock__item infoblock__item--will">
                            Security & privacy
                        </li>
                    </ul>
                </div>
                <div class="infoblock">
                    <h2 class="infoblock__title">What you <span class="infoblock__highlight infoblock__highlight--wont">won’t</span> get with a paid membership</h2>
                    <ul class="infoblock__list">
                        <li class="infoblock__item infoblock__item--wont">
                            Pre-Checked cross sales
                        </li>
                        <li class="infoblock__item infoblock__item--wont">
                            Unexpected charges
                        </li>
                        <li class="infoblock__item infoblock__item--wont">
                            Unresponsive support
                        </li>
                        <li class="infoblock__item infoblock__item--wont">
                            Difficulty canceling
                        </li>
                        <li class="infoblock__item infoblock__item--wont">
                            Fraud
                        </li>
                        <li class="infoblock__item infoblock__item--wont">
                            Infrequent updates
                        </li>
                        <li class="infoblock__item infoblock__item--wont">
                            Low quality video
                        </li>
                        <li class="infoblock__item infoblock__item--wont">
                            Unreliable streaming
                        </li>
                    </ul>
                </div>
                <div class="purchase">
                    <h2 class="purchase__title">
                        Purchase Information
                    </h2>
                    <div class="purchase__body">
                        Call us 24/7/365 on (+1) XX XXX XXXX or click here to visit our support portal. To protect your privacy, Truepay XXXXXXXX will appear on your statement. Your IP address, billing, and connection information will be recorded, traced and checked for fraud.Fraudulent transactions will be investigated and prosecuted in accordance with applicable law.
                    </div>
                    <div class="purchase__bottom">
                        For billing support, or to cancel your recurring purchase, please visit <a href="https://www.truepay.io">www.truepay.io</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="iframe-container">
                    <iframe width="100%" height="100%" src="{{ url }}" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
