{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row member member--upgrade">
            <div class="col-xs-12 col-md-6 info">
                <div class="member__info">
                    <h1 class="member__title">
                        Upgrade your membership to get full access
                    </h1>
                    <div class="member__body">
                        Sed ut perspiciatis unde omnis accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
                    </div>
                </div>
            </div>

            <div class="col-md-6 gallery">
                <div class="member__info">
                    <div class="member__gallery">
                        {% if scenesForImages[16406] is defined %}
                            <span class="member__link">
                            <img class="member__image"
                                 src="{{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 360, 2) }}"
                                 alt=""
                                 sizes="(min-width: 1200px) 500px, (min-width: 992px) 470px, (min-width: 667px) 484px, 100vw"
                                 srcset="{{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 360, 2) }} 360w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 720, 2) }} 720w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 1000, 2) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 1300, 2) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 2600, 2) }} 2600w">
                        </span>
                        {% endif %}

                        {% if scenesForImages[16405] is defined %}
                            <span class="member__link">
                            <img class="member__image"
                                 src="{{ assetsUrlBuilder.sceneThumb(scenesForImages[16405], 360, 1) }}"
                                 alt=""
                                 srcset="{{ assetsUrlBuilder.sceneThumb(scenesForImages[16405], 360, 1) }} 360w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16405], 720, 1) }} 720w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16405], 1000, 1) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16405], 1300, 1) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16405], 2600, 1) }} 2600w">
                        </span>
                        {% endif %}

                        {% if scenesForImages[16406] is defined %}
                            <span class="member__link">
                            <img class="member__image"
                                 src="{{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 360, 1) }}"
                                 alt=""
                                 srcset="{{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 360, 1) }} 360w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 720, 1) }} 720w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 1000, 1) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 1300, 1) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 2600, 1) }} 2600w">
                        </span>
                        {% endif %}

                        {% if scenesForImages[15934] is defined %}
                            <span class="member__link">
                            <img class="member__image"
                                 src="{{ assetsUrlBuilder.sceneThumb(scenesForImages[15934], 360, 3) }}"
                                 alt=""
                                 srcset="{{ assetsUrlBuilder.sceneThumb(scenesForImages[15934], 360, 3) }} 360w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[15934], 720, 3) }} 720w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[15934], 1000, 3) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[15934], 1300, 3) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[15934], 2600, 3) }} 2600w">
                        </span>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 sign-up">
                <form action="" class="form form--sign-up">
                <div class="form-inner">
                    <div class="form__row">
                        <h3 class="form__title">
                            Choose your membership
                        </h3>
                    </div>
                    <div class="form__row membership">
                        {% for product in products %}
                            <input id="radio{{ product.id }}" type="radio" name="upgrade"
                                   onclick="document.getElementById('purchase_link').setAttribute('href', '{{ path('membershipPurchase', {'product': product.id}) }}');"
                                   {% if loop.last %}checked{% endif %}>
                            <label for="radio{{ product.id }}" class="membership__select">
                                <span class="membership__radio"></span>
                                <span class="membership__info-wr">
										<span class="membership__term">
											<span class="membership__head">{{ product.title }}</span>
                                            <span class="membership__body">
                                                {% if product.recurrent %}
                                                    {% if product.recurrentFrequency == 1 %}
                                                        Billed in one payment
                                                    {% else %}
                                                        {% if product.currency %}
                                                            {{ product.priceMonthly|localizedcurrency(product.currency) }}/month
                                                        {% else %}
                                                            {{ product.priceMonthly }}/month
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {{ product.billingDescription }}
                                                {% endif %}
                                            </span>
                                        </span>
                                        <span class="membership__price">
                                            {% if product.currency %}
                                                {{ product.price|localizedcurrency(product.currency) }}
                                            {% else %}
                                                {{ product.price }}
                                            {% endif %}
										</span>
									</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <a id="purchase_link" href="{{ path('membershipPurchase', {'product': products|last.id}) }}" class="form__submit--payment btn btn--large btn--secondary">Upgrade membership</a>
                </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
