{% extends 'base.html.twig' %}

{% block body %}
    <section class="episodes-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section__main">
                        <h1 class="section__title">{{ pageTitle }}</h1>

                        <ul class="filter">
                            {% for sortOption, sortTitle in sortOptions %}
                                <li class="filter__item">
                                    {% if sort == sortOption %}
                                        <span class="btn btn--exsmall btn--dark">{{ sortTitle }}</span>
                                    {% else %}
                                        <a class="btn btn--exsmall btn--outlined"
                                           href="{{ path('sceneBts', {sort: sortOption}) }}">{{ sortTitle }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row row-eq-height">
                {% for scene in scenes %}
                    {% include "scene/partials/sceneListItem.html.twig" with {scene: scene} only %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
