{% extends 'base.html.twig' %}

{% block body %}
    <section class="episodes-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section__main">
                        <h1 class="section__title">{{ pageTitle }}</h1>

                        <ul class="filter">
                            {% for sortOption, sortTitle in sortOptions %}
                                <li class="filter__item">
                                    {% if sort == sortOption %}
                                        <span class="btn btn--exsmall btn--dark">{{ sortTitle }}</span>
                                    {% else %}
                                        <a class="btn btn--exsmall btn--outlined"
                                           href="{{ path('sceneEpisodes', {sort: sortOption}) }}">{{ sortTitle }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row row-eq-height">
                {% for scene in scenes %}
                    {% include "scene/partials/sceneListItem.html.twig" with {scene: scene} only %}
                {% endfor %}
            </div>

            {# No pagination for now
            <div class="row">
                <div class="col-xs-12">
                    <ul class="pagination">
                        <li class="pagination__item">
                            <a href="#" class="pagination__link pagination__link--disable">First</a>
                        </li>
                        <li class="pagination__item">
                            <a href="#" class="pagination__link pagination__link--disable pagination__link--prev">
                                <svg width="9px" height="16px" viewBox="0 0 9 16" version="1.1"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                       stroke-linecap="round">
                                        <g id="pagination-1020" transform="translate(-385.000000, -43.000000)"
                                           stroke-width="1.25" stroke="#CFD4DA">
                                            <polyline id="chevron-ghost-left"
                                                      transform="translate(393.071068, 51.071068) rotate(-45.000000) translate(-393.071068, -51.071068) "
                                                      points="388.071068 56.0710678 388.071068 46.0710678 388.071068 46.0710678 398.071068 46.0710678"></polyline>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li class="pagination__item">
                            <a href="#" class="pagination__link pagination__link--active">1</a>
                        </li>
                        <li class="pagination__item">
                            <a href="#" class="pagination__link">2</a>
                        </li>
                        <li class="pagination__item">
                            <a href="#" class="pagination__link">3</a>
                        </li>
                        <li class="pagination__item">
                            <a href="#" class="pagination__link">40</a>
                        </li>
                        <li class="pagination__item">
                            <a href="#" class="pagination__link">512</a>
                        </li>
                        <li class="pagination__item">
                            <a href="#" class="pagination__link pagination__link--next">
                                <svg width="9px" height="16px" viewBox="0 0 9 16" version="1.1"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                       stroke-linecap="round">
                                        <g id="pagination-1020" transform="translate(-385.000000, -43.000000)"
                                           stroke-width="1.25" stroke="#010101">
                                            <polyline id="chevron-ghost-left"
                                                      transform="translate(393.071068, 51.071068) rotate(-45.000000) translate(-393.071068, -51.071068) "
                                                      points="388.071068 56.0710678 388.071068 46.0710678 388.071068 46.0710678 398.071068 46.0710678"></polyline>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li class="pagination__item">
                            <a href="#" class="pagination__link">Last</a>
                        </li>
                    </ul>
                </div>
            </div>
            #}
        </div>
    </section>
{% endblock %}
