{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/dist/css/player.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="//releases.flowplayer.org/7.1.1/commercial/flowplayer.min.js"></script>
    <script src="//releases.flowplayer.org/thumbnails/flowplayer.thumbnails.min.js"></script>
    <script src="//releases.flowplayer.org/dashjs/flowplayer.dashjs.min.js"></script>
    <script src="//releases.flowplayer.org/hlsjs/flowplayer.hlsjs.min.js"></script>

    <script src="/dist/js/player.js"></script>
{% endblock %}

{% block body %}
    <script>
        var playerConfig = {
            streamSources:             [
                {% if fullViewGranted and scene.live %}
//                {
//                    "type": "application/dash+xml",
                {#"src":  "{{ assetsUrlBuilder.sceneStreaming(scene, 'dash') }}"#}
//                },
//                {
//                    "type": "application/x-mpegurl",
                {#"src":  "{{ assetsUrlBuilder.sceneStreaming(scene, 'hls') }}"#}
//                },
                {
                    "type": "video/webm",
                    "src":  "{{ assetsUrlBuilder.sceneStreaming(scene, 'webm') }}"
                },
                {
                    "type": "video/mp4",
                    "src":  "{{ assetsUrlBuilder.sceneStreaming(scene, 'mp4') }}"
                }
                {% endif %}
            ],
            streamThumbnailsTemplate:  "{% if fullViewGranted and scene.live %}{{ assetsUrlBuilder.sceneScreengrabsPattern(scene) }}{% endif %}",
            trailerSources:            [
//                {
//                    "type": "application/dash+xml",
                {#"src":  "{{ assetsUrlBuilder.sceneTrailer(scene, 'dash') }}"#}
//                },
//                {
//                    "type": "application/x-mpegurl",
                {#"src":  "{{ assetsUrlBuilder.sceneTrailer(scene, 'hls') }}"#}
//                },
                {
                    "type": "video/webm",
                    "src":  "{{ assetsUrlBuilder.sceneTrailer(scene, 'webm') }}"
                },
                {
                    "type": "video/mp4",
                    "src":  "{{ assetsUrlBuilder.sceneTrailer(scene, 'mp4') }}"
                }
            ],
            trailerThumbnailsTemplate: "{{ assetsUrlBuilder.sceneTrailerScreengrabsPattern(scene) }}",
            gaId:                      "{{ app.environment == 'prod' ? 'UA-6798660-60' : '' }}",
            limitPromoViews: {{ isGuest ? 'true' : 'false' }}
        };
    </script>

    <style>
        .is-splash {
            background-image: url({{ assetsUrlBuilder.sceneThumb(scene, 360, 1) }});
        }

        @media screen and (min-width: 360px) {
            .is-splash {
                background-image: url({{ assetsUrlBuilder.sceneThumb(scene, 720, 1) }});
            }
        }

        @media screen and (min-width: 720px) {
            .is-splash {
                background-image: url({{ assetsUrlBuilder.sceneThumb(scene, 1000, 1) }});
            }
        }

        @media screen and (min-width: 1000px) {
            .is-splash {
                background-image: url({{ assetsUrlBuilder.sceneThumb(scene, 1300, 1) }});
            }
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (                min-resolution: 192dpi), only screen and (                min-resolution: 2dppx) {

            .is-splash {
                background-image: url({{ assetsUrlBuilder.sceneThumb(scene, 720, 1) }});
            }
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 520px), only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 520px), only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 520px), only screen and (        min-device-pixel-ratio: 2)      and (min-width: 520px), only screen and (                min-resolution: 192dpi) and (min-width: 520px), only screen and (                min-resolution: 2dppx)  and (min-width: 520px) {

            .is-splash {
                background-image: url({{ assetsUrlBuilder.sceneThumb(scene, 1000, 1) }});
            }
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1200px), only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1200px), only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1200px), only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1200px), only screen and (                min-resolution: 192dpi) and (min-width: 1200px), only screen and (                min-resolution: 2dppx)  and (min-width: 1200px) {

            .is-splash {
                background-image: url({{ assetsUrlBuilder.sceneThumb(scene, 2600, 1) }});
            }
        }
    </style>
    <article class="item item--noborder">
        <figure class="item__figure">
            <div class="item__video-wr">
                <div class="j-flowplayer is-splash">
                    <div class="overlay overlay-sign-up">
                        <div class="overlay-container">
                            <img src="/images/tt-free-trailer-views-limit-exceeded.svg" alt="">
                            <p>Don't worry. You can watch all the trailers and BTS you want by simply registering your email address. No credit card, no bullshit. Plus you can unlock a full scene of your choice!</p>
                            <a href="{{ path('userSignup') }}">Get free access</a>
                        </div>
                    </div>
                    {% if not fullViewGranted %}
                        <div class="overlay overlay-watch-full-episode">
                            <div class="overlay-container">
                                <img src="/images/tt-watch-the-full-episode.svg" alt="">
                                {% if isGuest %}
                                    <a href="{{ path('userSignup') }}">Get free access</a>
                                {% else %}
                                    <a href="{{ path('membershipUpgrade') }}">Upgrade</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="container">
                <figcaption class="item__caption item__caption--single">
                    <div class="item__info item__info--single">
                        <div class="caption__col">
                            <h3 class="item__title item__title--single">
                                {{ scene.title }} -
                                {% for performer in scene.performers %}
                                    <a href="{{ path('performerView', {slug: performer.slug}) }}"
                                       class="item__performer item__performer--single">{{ performer.name }}</a>
                                {% endfor %}
                            </h3>
                        </div>
                        <div class="caption__col">
                            {% if scene.live and authChecker.granted(constant('AppBundle\\Security\\ContentRatingVoter::ATTRIBUTE_VOTE'), constant('AppBundle\\Security\\ContentRatingVoter::SUBJECT')) %}
                                <div class="item__rating">
                                    <div class="rating-inner">
                                        {% if scene.ratingPublic %}
                                            <div class="rating__value rating__value--logged">
                                                {{ scene.rating | contentRating }}
                                            </div>
                                        {% endif %}
                                        {% if currentVote == 1 %}
                                            <div class="rating__ico rating__ico--logged rating__ico--checked"></div>
                                        {% else %}
                                            <a href="{{ path('contentRatingVote', {contentType: 'Scene', contentId: scene.id, value: 1}) | raw }}"
                                               class="rating__ico rating__ico--logged"></a>
                                        {% endif %}
                                    </div>

                                    <div class="rating-inner">
                                        {% if scene.ratingPublic %}
                                            <div class="rating__value rating__value--logged">
                                                {{ scene.rating | contentRating(false) }}
                                            </div>
                                        {% endif %}

                                        {% if currentVote == -1 %}
                                            <div
                                                class="rating__ico rating__ico--logged rating__ico--down rating__ico--checked"></div>
                                        {% else %}
                                            <a href="{{ path('contentRatingVote', {contentType: 'Scene', contentId: scene.id, value: -1}) | raw }}"
                                               class="rating__ico rating__ico--logged rating__ico--down"></a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                {% if scene.ratingPublic %}
                                    <div class="item__rating rating-inner">
                                        <div class="rating__value">{{ scene.rating | contentRating }}</div>
                                        <div class="rating__ico"></div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="item__info item__info--single">
                        <div class="caption__col">
                            <div class="item__info--time">Release date
                                <time class="item__info--value">{{ scene.liveDateStart | date('F j, Y') }}</time>
                                {% if scene.runtime %}
                                    Runtime
                                    <time class="item__info--value">
                                        {% transchoice scene.runtimeHumanMinutes %}
                                        {0} 0 minutes|{1} 1 minute|]1,Inf[ %count% minutes
                                        {% endtranschoice %}
                                    </time>
                                {% endif %}
                            </div>
                        </div>

                        <ul class="item__tags tags">
                            {% for tag in scene.contentTags | slice(0, 4) %}
                                <li class="tags__item">
                                    <a href="{{ path('contentTagScenes', {slug: tag.slug}) }}"
                                       class="tags__link btn btn--dark btn--xxsmall">{{ tag.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p class="item__info">{{ scene.synopsis }}</p>
                </figcaption>
            </div>
        </figure>
    </article>

    <div style="display: none">
        // TODO
        {% if fullViewGranted %}
            <span>Enjoy your full access to the scene!</span>
        {% else %}
            <span>You have the very limited access to the scene.</span> <br/>

            {% if token %}
                <button onclick="location.href='{{ path('purchaseTokenUse', {'kind': tokenKind, 'for': scene.id}) }}';">
                    Buy the full access
                </button>
            {% endif %}
        {% endif %}
    </div>

    {% if scene.isLive() %}
        <section class="downloads">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="downloads__title">
                            {% if not authChecker.granted(constant('AppBundle\\Security\\WebsiteVoter::ATTRIBUTE_ACCESS'), constant('AppBundle\\Security\\WebsiteVoter::SUBJECT')) %}
                                Unlimited 4K UHD Streaming & Downloads available when you join
                            {% else %}
                                Download or watch this full episode now
                            {% endif %}
                        </h4>
                    </div>
                </div>

                <div class="row downloads__row">
                    {% if fullViewGranted and scene.live %}
                        <a href="#" class="btn btn--outlined btn--large downloads__btn j-downloads__btn--trailer">
                            <span class="downloads__btn--head">Trailer</span>
                            <span class="downloads__btn--body">
                                {% if scene.quality4kAvailable %}In 4K UHD{% else %}In HD{% endif %}
                            </span>
                        </a>
                    {% endif %}

                    <a href="{% if isGuest %}{{ path('userSignup') }}{% elseif not fullViewGranted %}{{ path('membershipUpgrade') }}{% endif %}"
                       class="btn btn--outlined btn--large downloads__btn{% if fullViewGranted %} downloads__btn--hidden j-downloads__btn--stream{% endif %}">
                        <span class="downloads__btn--head">Watch full episode</span>
                        <span class="downloads__btn--body">
                            {% if scene.quality4kAvailable %}In 4K UHD{% else %}In HD{% endif %}
                        </span>
                    </a>

                    {% if scene.quality4kAvailable %}
                        <a href="{% if isGuest %}{{ path('userSignup') }}{% elseif not hasWebsiteAccess %}{{ path('membershipUpgrade') }}{% else %}{{ assetsUrlBuilder.sceneDownload(scene, 'uhd') }}{% endif %}"
                            {% if hasWebsiteAccess %} download{% endif %}
                           class="btn btn--outlined btn--large downloads__btn">
                            <span class="downloads__btn--head">Download 4K UHD</span>
                            <span class="downloads__btn--body">at 30 mbps</span>
                        </a>
                    {% endif %}

                    {% if scene.qualityHdAvailable %}
                        <a href="{% if isGuest %}{{ path('userSignup') }}{% elseif not hasWebsiteAccess %}{{ path('membershipUpgrade') }}{% else %}{{ assetsUrlBuilder.sceneDownload(scene, '1080') }}{% endif %}"
                            {% if hasWebsiteAccess %} download{% endif %}
                           class="btn btn--outlined btn--large downloads__btn">
                            <span class="downloads__btn--head">Download HD 1080p</span>
                            <span class="downloads__btn--body">at 10 mbps</span>
                        </a>
                    {% endif %}

                    <a href="{% if isGuest %}{{ path('userSignup') }}{% elseif not hasWebsiteAccess %}{{ path('membershipUpgrade') }}{% else %}{{ assetsUrlBuilder.sceneDownload(scene, '720') }}{% endif %}"
                        {% if hasWebsiteAccess %} download{% endif %}
                       class="btn btn--outlined btn--large downloads__btn"><span
                            class="downloads__btn--head">Download HD 720p</span><span
                            class="downloads__btn--body">at 5 mbps</span></a>

                    <a href="{% if isGuest %}{{ path('userSignup') }}{% elseif not hasWebsiteAccess %}{{ path('membershipUpgrade') }}{% else %}{{ assetsUrlBuilder.sceneDownload(scene, '480') }}{% endif %}"
                        {% if hasWebsiteAccess %} download{% endif %}
                       class="btn btn--outlined btn--large downloads__btn"><span
                            class="downloads__btn--head">Download HD 480p</span><span
                            class="downloads__btn--body">at 3 mbps</span></a>

                    {% if not scene.isBts %}
                        {% set isDownload = false %}
                        {% if isGuest %}
                            {% set href = path('userSignup') %}
                        {% elseif not hasWebsiteAccess %}
                            {% set href = path('membershipUpgrade') %}
                        {% else %}
                            {% set href = assetsUrlBuilder.sceneGalleryArchive(scene) %}
                            {% set isDownload = true %}
                        {% endif %}
                        <a href="{{ href }}" {{ isDownload ? 'download' : '' }}
                           class="btn btn--outlined btn--large downloads__btn">
                            <span class="downloads__btn--head">Image Gallery</span>
                            <span class="downloads__btn--body">
                                {% transchoice scene.picturesCount %}
                                {0} 0 images|{1} 1 image|]1,Inf[ %count% images
                                {% endtranschoice %}
                            </span>
                        </a>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="downloads__photo--row">
                            {% for i in [2, 3, 4, 5] %}
                                <span class="downloads__photo--popup">
                                <img src="{{ assetsUrlBuilder.sceneThumb(scene, 360, i) }}"
                                     class="downloads__photo"
                                     sizes="(min-width: 1200px) 250px,(min-width: 992px) 240px,(min-width: 667px) 150px, 50vw"
                                     srcset="{{ assetsUrlBuilder.sceneThumb(scene, 360, i) }} 360w, {{ assetsUrlBuilder.sceneThumb(scene, 720, i) }} 720w, {{ assetsUrlBuilder.sceneThumb(scene, 1000, i) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scene, 1300, i) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scene, 2600, i) }} 2600w"
                                     alt="">
                            </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if scene.hasBts %}
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="{{ path('sceneView', {slug: scene.getBts().slug}) }}" class="downloads__free">
                                <span>We also have
                                    {% transchoice scene.btsRuntimeMinutes %}
                                    {0} 0 minutes|{1} 1 minute|]1,Inf[ %count% minutes
                                    {% endtranschoice %}
                                    of <span class="downloads__free--strong">FREE</span> behind-the-scenes footage from this episode for you to check out</span>
                                <span><img src="/images/watch.svg" alt="Watch BTS episode"> <span
                                        class="hidden-lg">Watch it now!</span></span>
                            </a>
                        </div>
                    </div>
                {% endif %}

                {% if not app.user %}
                    <div class="row">
                        <div class="col-xs-12 h-horizontal-center">
                            <a href="{{ path('userSignup') }}"
                               class="downloads__btn--primary btn btn--exlarge btn--primary">Get free access</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
    {% endif %}

    {% include "scene/partials/episodesListPreview.html.twig" with {
    scenes: newestScenes,
    title: 'Newest episodes',
    showMoreLink: path('sceneEpisodes', {sort: 'newest'})
    } only %}

    {% include "scene/partials/episodesListPreview.html.twig" with {
    scenes: topRatedScenes,
    title: 'Top rated episodes',
    showMoreLink: path('sceneEpisodes', {sort: 'top-rated'})
    } only %}

    {% if upcomingScene %}
        {% include "scene/partials/upcomingScene.html.twig" with { upcomingScene: upcomingScene} only %}
    {% endif %}
{% endblock %}
