<div class="slider" id="carousel">
    <ul>
        {% for scene in scenes %}
            <li>
                <article class="slider__item">
                    <figure class="item__figure">
                        <a href="{{ path('sceneView', {slug: scene.slug}) }}" class="item__image-wrap">
                            <img class="item__image"
                                 src="{{ assetsUrlBuilder.sceneThumb(scene, 720, 1) }}"
                                 alt="{{ scene.title }}"
                                 sizes="(min-width: 1300px) 1300px, 100vw"
                                 srcset="{{ assetsUrlBuilder.sceneThumb(scene, 360, 1) }} 360w, {{ assetsUrlBuilder.sceneThumb(scene, 720, 1) }} 720w, {{ assetsUrlBuilder.sceneThumb(scene, 1000, 1) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scene, 1300, 1) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scene, 2600, 1) }} 2600w">
                            <div class="slider__control slider__control--play"><img src="/images/play.svg"
                                                                                    alt=""></div>
                        </a>
                        {% if scene.quality > constant('AppBundle\\Entity\\Scene::QUALITY_HD') %}
                            <div class="item__quality item__quality--slider">
                                {% if scene.quality == constant('AppBundle\\Entity\\Scene::QUALITY_HD') %}
                                    HD
                                {% elseif scene.quality == constant('AppBundle\\Entity\\Scene::QUALITY_4K') %}
                                    4K UHD
                                {% endif %}
                            </div>
                        {% endif %}

                        <figcaption class="item__caption item__caption--column item__caption--revert">
                            <div class="container">
                                <div class="caption__row">
                                    <h3 class="item__title item__title--revert"><a
                                            href="{{ path('sceneView', {slug: scene.slug}) }}">{{ scene.title }}</a></h3>

                                    {% if scene.isRatingPublic() %}
                                    <div class="item__rating rating-inner">
                                        <div class="rating__value rating__value--revert">{{ scene.rating | contentRating }}</div>
                                        <div class="rating__ico rating__ico--revert"></div>
                                    </div>
                                    {% endif %}

                                    {% if scene.quality >= constant('AppBundle\\Entity\\Scene::QUALITY_HD') %}
                                        <div class="item__quality item__quality--slider">
                                            {% if scene.quality == constant('AppBundle\\Entity\\Scene::QUALITY_HD') %}
                                                HD
                                            {% elseif scene.quality == constant('AppBundle\\Entity\\Scene::QUALITY_4K') %}
                                                4K UHD
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="caption__row caption__row--slider">
                                    <div class="item__performers">
                                        {% for performer in scene.cast %}
                                            <a href="{{ path('performerView', {slug: performer.slug}) }}" class="item__performer">{{ performer.name }}</a>
                                        {% endfor %}
                                    </div>
                                    <div class="item__date item__date--revert">
                                        <time>{{ scene.liveDateStart | date('F j, Y') }}</time>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </li>
        {% endfor %}
    </ul>

    <button class="slider__control slider__control--prev"><img src="/images/arr.svg" alt=""></button>
    <button class="slider__control slider__control--next"><img src="/images/arr.svg" alt=""></button>
</div>
