{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="stan-page-title">Customers</h1>

    <div class="field">
        {% if (checkAccess('customer', 'new')) %}
            <a class="button" href="{{ path('customerNew') }}">
            <span class="icon is-small">
                <i class="fa fa-plus"></i>
            </span>
                <span>Create</span>
            </a>
        {% endif %}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'ID', 'c.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'c.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Email', 'c.email') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for customer in pagination %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>
                        {{ customer.name }}
                    </td>
                    <td>
                        {% if (checkAccess('customer', 'edit')) %}
                            <a href="{{ path('customerEdit', { id: customer.id }) }}">{{ customer.email }}</a>
                        {% else %}
                            {{ customer.email }}
                        {% endif %}
                    </td>
                    <td>
                        {% if (checkAccess('customer', 'delete')) %}
                            <a href="{{ path('customerDelete', {id: customer.id}) }}"
                               class="button is-danger is-outlined is-small stan-j-delete-button">
                                <span>Delete</span>
                                <span class="icon is-small"><i class="fa fa-times"></i></span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}