{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="stan-page-title"><a href="{{ path('customerIndex') }}">Customers</a> / Create</h1>

    <div class="columns">
        <div class="column is-half">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}