{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="message">
                    <div class="message__head">
                        Your account is blocked.
                    </div>
                    <div class="message__body">
                        {% if user.blockType == constant('AppBundle\\Entity\\User::BLOCK_TYPE_LOGIN_SHARING') %}
                            <p>Your account is blocked because of login sharing attempt.</p>
                            <p><a href="{{ path('userForgotPassword') }}">Reset your password</a> to get access back.
                            </p>
                        {% endif %}
                    </div>
                    {#<div class="message__footer">#}
                    {# FIXME implement #}
                    {#<a href="#" class="message__help">Didn’t receive the email? Click here to resend</a>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
