{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ form_start(form, {attr: {class: 'form'}}) }}
                {{ form_errors(form) }}
                <div class="form__row">
                    <h3 class="form__title">
                        Reset password
                    </h3>
                </div>
                <div class="form__row">
                    <div class="form__row--flex">
                        {{ form_label(form.password.password, null, {label_attr: {class: 'form__label'}}) }}
                        <label id="showPassword" class="form__help form__help--label"><input
                                class="form__help--checkbox" type="checkbox">Show password</label>
                        {{ form_errors(form.password.password) }}
                    </div>
                    {{ form_widget(form.password.password, {attr: {class: 'form__input form__input--password'}}) }}
                    <div class="form__help">
                        Your password must be eight or more characters long.
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__row--flex">
                        {{ form_label(form.password.confirm, null, {label_attr: {class: 'form__label'}}) }}
                        {{ form_errors(form.password.confirm) }}
                    </div>
                    {{ form_widget(form.password.confirm, {attr: {class: 'form__input form__input--password'}}) }}
                </div>

                <div class="form__row form__row--flex">
                    {{ form_widget(form.save, {attr: {class: 'form__submit form__submit--login btn btn--secondary btn-small'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}