{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ form_start(form, {attr: {class: 'form'}}) }}
                {{ form_errors(form) }}
                <div class="form__row">
                    <h3 class="form__title">
                        Request password reset
                    </h3>
                </div>
                <div class="form__row">
                    {{ form_label(form.email, null, {label_attr: {class: 'form__label'}}) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, {attr: {class: 'form__input'}}) }}
                </div>
                <div class="form__row form__row--flex">
                    {{ form_widget(form.save, {attr: {class: 'form__submit form__submit--login btn btn--secondary btn-small'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}