{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="row">
            <div class="col-xs-12">

                <form action="{{ path('userLogin') }}" class="form" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="form__row">
                        <h3 class="form__title">
                            Log in to your account
                        </h3>
                    </div>
                    <div class="form__row">
                        <label for="email" class="form__label">Email</label>
                        <input type="email" class="form__input" id="email" name="email" value="{{ last_username }}" autofocus tabindex="1">
                    </div>
                    <div class="form__row">
                        <div class="form__row--flex">
                            <label for="password" class="form__label">Password</label>
                            <label id="showPassword" class="form__help form__help--label"><input
                                    class="form__help--checkbox" type="checkbox">Show password</label>
                        </div>
                        <input type="password" class="form__input form__input--password" id="password" name="password" tabindex="2">
                    </div>
                    <div class="form__row form__row--flex">
                        <a class="form__link form__link--forgot"
                           href="{{ path('userForgotPassword') }}">Forgot password?</a>
                        <button type="submit"
                                class="form__submit form__submit--login btn btn--secondary btn-small">Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}