{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {#<form action="" class="form">#}
                {#<div class="form__row">#}
                {#<h3 class="form__title">#}
                {#Account details#}
                {#</h3>#}
                {#</div>#}
                {#<div class="form__row">#}
                {#<label for="username" class="form__label">Username</label>#}
                {#<input type="text" class="form__input" id="username" name="username">#}
                {#<div class="form__help">#}
                {#Your username will be used for posting comments.#}
                {#</div>#}
                {#</div>#}
                {#<div class="form__row">#}
                {#<label for="email" class="form__label">Email</label>#}
                {#<input type="email" class="form__input" id="email" name="email">#}
                {#</div>#}
                {#<div class="form__row form__row--flex form__row--flex-end">#}
                {#<button type="submit" class="form__submit form__submit--small btn btn--secondary btn-small">Save account details</button>#}
                {#</div>#}
                {#</form>#}
                {{ form_start(changePasswordForm, {attr: {class: 'form', id: 'changePassword'}}) }}
                {{ form_errors(changePasswordForm) }}

                <div class="form__row">
                    <h3 class="form__title">
                        Password
                    </h3>
                </div>
                <div{% if changePasswordFormSubmitted %} hidden{% endif %} class="change-password">
                    <div class="form__row form__row--flex">
                        <span class="form__pswd-view">••••••••••••••</span>
                        <a id="changePswdBtn"
                           class="form__submit form__submit--small form__submit--pswd btn btn--secondary btn-small">Change password</a>
                    </div>
                </div>
                <div{% if not changePasswordFormSubmitted %} hidden{% endif %} class="change-password">
                    <div class="form__row">
                        <div class="form__row--flex">
                            {{ form_label(changePasswordForm.currentPassword, null, {label_attr: {class: 'form__label'}}) }}
                            <label id="showPassword" class="form__help form__help--label"><input
                                    class="form__help--checkbox" type="checkbox">Show password</label>
                        </div>
                        {{ form_widget(changePasswordForm.currentPassword, {attr: {class: 'form__input form__input--password'}}) }}
                        {{ form_errors(changePasswordForm.currentPassword) }}
                    </div>
                    <div class="form__row">
                        <div class="form__row--flex">
                            {{ form_label(changePasswordForm.password.password, null, {label_attr: {class: 'form__label'}}) }}
                        </div>
                        {{ form_widget(changePasswordForm.password.password, {attr: {class: 'form__input form__input--password'}}) }}
                        {{ form_errors(changePasswordForm.password) }}
                        {{ form_errors(changePasswordForm.password.password) }}
                        <div class="form__help">
                            Your password must include at least one symbol and be eight or more characters long.
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__row--flex">
                            {{ form_label(changePasswordForm.password.confirm, null, {label_attr: {class: 'form__label'}}) }}
                        </div>
                        {{ form_widget(changePasswordForm.password.confirm, {attr: {class: 'form__input form__input--password'}}) }}
                        {{ form_errors(changePasswordForm.password.confirm) }}
                    </div>
                    <div class="form__row--flex form__row--flex-end form__row--change-pass">
                        <a id="cancelChangePassword" class="form__cancel btn btn--outlined btn--xsmall">Cancel</a>
                        {{ form_widget(changePasswordForm.save, {id: "savePassword", attr: {class: 'form__submit form__submit--small btn btn--secondary btn-small'}}) }}
                    </div>
                </div>
                {{ form_end(changePasswordForm) }}
            </div>
        </div>
    </div>
{% endblock %}