{% extends 'base.html.twig' %}

{% block head_javascripts %}
    {{ parent() }}

    <script src="//www.google.com/recaptcha/api.js?hl={{ app.request.locale }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row member">
            <div class="col-xs-12 col-md-6 info">
                <div class="member__info">
                    <h1 class="member__title">
                        Ready to sign up for your free membership?
                    </h1>
                    <div class="member__body">
                        No, really, we're giving away free scenes. Give us your email and you are a Blackmailed.com member. That gets you unlimited access to all trailers and behind-the-scenes videos, plus a full scene of your choosing. Want to unlock more scenes? That's when we'll ask you to pay. No scams, no bullshit.
                    </div>
                </div>
            </div>
            <div class="col-md-6 gallery">
                <div class="member__info">
                    <div class="member__gallery">
                        {% if scenesForImages[16406] is defined %}
                            <span class="member__link member__link--main">
                            <img class="member__image"
                                 src="{{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 360, 2) }}"
                                 alt=""
                                 sizes="(min-width: 1200px) 500px, (min-width: 992px) 470px, (min-width: 667px) 484px, 100vw"
                                 srcset="{{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 360, 2) }} 360w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 720, 2) }} 720w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 1000, 2) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 1300, 2) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 2600, 2) }} 2600w">
                        </span>
                        {% endif %}

                        {% if scenesForImages[16405] is defined %}
                            <span class="member__link">
                            <img class="member__image"
                                 src="{{ assetsUrlBuilder.sceneThumb(scenesForImages[16405], 360, 1) }}"
                                 alt=""
                                 srcset="{{ assetsUrlBuilder.sceneThumb(scenesForImages[16405], 360, 1) }} 360w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16405], 720, 1) }} 720w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16405], 1000, 1) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16405], 1300, 1) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16405], 2600, 1) }} 2600w">
                        </span>
                        {% endif %}

                        {% if scenesForImages[16406] is defined %}
                            <span class="member__link">
                            <img class="member__image"
                                 src="{{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 360, 1) }}"
                                 alt=""
                                 srcset="{{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 360, 1) }} 360w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 720, 1) }} 720w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 1000, 1) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 1300, 1) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 2600, 1) }} 2600w">
                        </span>
                        {% endif %}

                        {% if scenesForImages[15934] is defined %}
                            <span class="member__link">
                            <img class="member__image"
                                 src="{{ assetsUrlBuilder.sceneThumb(scenesForImages[15934], 360, 3) }}"
                                 alt=""
                                 srcset="{{ assetsUrlBuilder.sceneThumb(scenesForImages[15934], 360, 3) }} 360w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[15934], 720, 3) }} 720w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[15934], 1000, 3) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[15934], 1300, 3) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[15934], 2600, 3) }} 2600w">
                        </span>
                        {% endif %}

                        {% if scenesForImages[15369] is defined %}
                            <span class="member__link">
                            <img class="member__image"
                                 src="{{ assetsUrlBuilder.sceneThumb(scenesForImages[15369], 360, 1) }}"
                                 alt=""
                                 srcset="{{ assetsUrlBuilder.sceneThumb(scenesForImages[15369], 360, 1) }} 360w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[15369], 720, 1) }} 720w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[15369], 1000, 1) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[15369], 1300, 1) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[15369], 2600, 1) }} 2600w">
                        </span>
                        {% endif %}

                        {% if scenesForImages[16406] is defined %}
                            <span class="member__link">
                            <img class="member__image"
                                 src="{{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 360, 5) }}"
                                 alt=""
                                 srcset="{{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 360, 5) }} 360w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 720, 5) }} 720w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 1000, 5) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 1300, 5) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16406], 2600, 5) }} 2600w">
                        </span>
                        {% endif %}

                        {% if scenesForImages[16369] is defined %}
                            <span class="member__link">
                            <img class="member__image"
                                 src="{{ assetsUrlBuilder.sceneThumb(scenesForImages[16369], 360, 1) }}"
                                 alt=""
                                 srcset="{{ assetsUrlBuilder.sceneThumb(scenesForImages[16369], 360, 1) }} 360w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16369], 720, 1) }} 720w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16369], 1000, 1) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16369], 1300, 1) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scenesForImages[16369], 2600, 1) }} 2600w">
                        </span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 sign-up">
                {{ form_start(form, {'attr': {'class': 'form form--sign-up'}}) }}
                <div class="form-inner">
                    <div class="form__row">
                        <h3 class="form__title">
                            Create your account
                        </h3>
                    </div>

                    {{ form_errors(form) }}

                    <div class="form__row">
                        {{ form_label(form.name, null, {'label_attr': {'class': 'form__label'}}) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form__input', 'autofocus': ''}}) }}
                    </div>

                    <div class="form__row">
                        {{ form_label(form.email, null, {'label_attr': {'class': 'form__label'}}) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form__input'}}) }}
                        <div class="form__help">Use a real email address as we you will have to verify it.</div>
                    </div>

                    {% for passwordField in form.password %}
                        <div class="form__row">
                            {{ form_label(passwordField, null, {'label_attr': {'class': 'form__label'}}) }}
                            {{ form_errors(passwordField) }}
                            {{ form_widget(passwordField, {'attr': {'class': 'form__input form__input--password'}}) }}
                            {% if loop.first %}
                                <div
                                    class="form__help">Your password must include at least one symbol and be eight or more characters long.
                                </div>{% endif %}
                        </div>
                    {% endfor %}

                    <div>
                        {{ form_errors(form.birthday) }}
                    </div>

                    <div class="form__row form__row--flex">
                        <div class="form__col-6 form__col-sm-12">
                            <span class="form__label">When were you born?</span>
                            <div class="form__help">
                                You must be at least 18 years old to join Blackmailed.com. Please verifiy your age.
                            </div>
                        </div>
                        <div class="form__col-6 form__col-sm-12 form__row--flex">
                            <div class="form__col-4">
                                <label for="{{ form.children.birthday.day.vars.id }}" class="form__label">Day</label>
                                {{ form_widget(form.children.birthday.day, {'attr': {'class': 'form__input'}, 'type': 'tel', 'maxlength': 2}) }}
                            </div>
                            <div class="form__col-4">
                                <label for="{{ form.children.birthday.month.vars.id }}"
                                       class="form__label">Month</label>
                                {{ form_widget(form.children.birthday.month, {'attr': {'class': 'form__input'}, 'maxlength': 2}) }}
                            </div>
                            <div class="form__col-4">
                                <label for="{{ form.children.birthday.year.vars.id }}" class="form__label">Year</label>
                                {{ form_widget(form.children.birthday.year, {'attr': {'class': 'form__input'}, 'type': 'tel', 'maxlength': 4}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-inner">
                    <div class="form__row">
                        <h3 class="form__title">
                            Choose your membership
                        </h3>
                    </div>
                    <div class="form__row membership">
                        {% for choiceView in form.children.product.vars.choices %}
                            {% set isChecked = app.request.get('purchaseProduct') == choiceView.data.id or choiceView.data.isFree %}
                            <input id="{{ form.children.product.vars.id }}_{{ choiceView.value }}" type="radio"
                                   name="{{ form.children.product.vars.full_name }}" value="{{ choiceView.value }}"
                                   {% if isChecked %}checked{% endif %}>
                            <label for="{{ form.children.product.vars.id }}_{{ choiceView.value }}"
                                   class="membership__select">
                                <span class="membership__radio"></span>
                                <span class="membership__info-wr">
										<span class="membership__term">
											<span class="membership__head">{{ choiceView.label }}</span>
											<span class="membership__body">
                                                {% if choiceView.data.isFree %}
                                                    1 free scene + all trailers + all BTS
                                                {% elseif choiceView.data.recurrent %}
                                                    {% if choiceView.data.recurrentFrequency == 1 %}
                                                        Billed in one payment
                                                    {% else %}
                                                        {% if choiceView.data.currency %}
                                                            {{ choiceView.data.priceMonthly|localizedcurrency(choiceView.data.currency) }}/month
                                                        {% else %}
                                                            {{ choiceView.data.priceMonthly }}/month
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {{ choiceView.data.billingDescription }}
                                                {% endif %}
                                            </span>
										</span>
									</span>
                                {% if choiceView.data.price %}
                                    <span class="membership__price">
                                            {% if choiceView.data.currency %}
                                                {{ choiceView.data.price|localizedcurrency(choiceView.data.currency) }}
                                            {% else %}
                                                {{ choiceView.data.price }}
                                            {% endif %}
                                        </span>
                                {% endif %}
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-inner">
                    <div class="form__row">
                        {{ form_widget(form.captcha) }}
                    </div>
                </div>
                <div>
                    {{ form_widget(form.save, {'attr': {'class': 'form__submit--payment btn btn--large btn--secondary'}}) }}
                </div>

                {{ form_widget(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_signup_button %}{% endblock %}
