{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="message">
                    <div class="message__head">
                        Nice one. Verify your email and you’re all set!
                    </div>
                    <div class="message__body">
                        Please check your email and click the link we sent to activate your account.
                    </div>
                    <div class="message__footer">
                        {# FIXME implement #}
                        {#<a href="#" class="message__help">Didn’t receive the email? Click here to resend</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_signup_button %}{% endblock %}
