@import "../common";

// Nav

.stan-main-nav {
    background-color: $color-primary;
    border-bottom: 1px solid $color-text-light-accent;

    .nav-item a, a.nav-item {
        color: $color-text-light;
    }
}

.stan-main-nav__logo {
    color: $color-text-light;
    font-weight: bold;
    letter-spacing: 0.4rem;
}

.stan-main-nav__logged-in-as {
    color: $color-text-light-accent;
    font-size: 0.8rem;
}

// Content

.stan-content {
    margin: 20px;
}

// Header

.stan-page-title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 1rem;
}

// Actions group

.stan-actions-group {

}

// Tables

th a.desc::after {
    content: " ▾";
}

th a.asc::after {
    content: " ▴";
}
