.animate {
	display:block;
    overflow: hidden;
	@include animation-duration(0.6s);
	@include animation-timing-function(ease);
	@include animation-iteration-count(1);
	@include animation-fill-mode(forwards);
}

.slidedown {
	@include animation-name(slidedown);
}

.slideup {
	@include animation-name(slideup);
}

@include keyframes(slideup) {
 from {
   max-height: 500px;
 }
 to {
   max-height: 0;
 }

}

@include keyframes(slidedown) {
 from {
   max-height: 0;
 }
 to {
   max-height: 500px;
 }

}