@import "_variables.scss";

body * {
    box-sizing: border-box;
}

html {
    font-size: $font-size-default;
}

body {
    font-family: "Gibson", sans-serif;
    font-weight: normal;
    color: $font-color-default;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

figure {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 22px 0 25px;
    font-weight: normal;
}

h2 {
    font-size: 1.1rem;
    @media (max-width: $sm) {
        text-align: center;
    }
}

h3 {
    font-size: 1rem;
}
