.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: $border-radius-default;
    border: none;
    color: $font-color-button;
    font-family: "Gibson", sans-serif;
    cursor: pointer;
    user-select: none;
    letter-spacing: .3px;
    text-align: center;
    transition: .3s;
    &--primary {
        background-color: $red;
        font-weight: 500;
        &:hover {
            background-color: $darkRed;
        }
    }
    &--secondary {
        background-color: $green;
        font-weight: 500;
        &:hover {
            background-color: $darkGreen;
        }
    }
    &--outlined {
        background-color: transparent;
        border: 1px solid $silver;
        color: $font-color-default;
    }
    &--dark {
        background-color: $black;
        color: $white;
    }
    &--exlarge {
        padding: 16px 33px 19px;
        font-size: 1.4rem;
    }
    &--large {
        padding: 14px 30px;
        font-size: 1.1rem;
    }
    &--medium {
        padding: 11px 20px;
        font-size: .95rem;
    }
    &--small {
        padding: 11px 20px;
        font-size: .75rem;
    }
    &--exsmall {
        padding: 5px 14px;
        font-size: .7rem;
    }
    &--xxsmall {
        padding: 3px 7px;
        font-size: .65rem;
    }
}

// Custom

.show-more-btn {
    margin-top: 14px;
    padding: 12px 23px;
}