
.downloads {
	&__row {
		display: flex;
		@media (max-width: $lg) {
			flex-wrap: wrap;
		}
	}
	&__title {
		font-weight: 500;
		font-size: 1rem;
		text-align: center;
		margin: 40px 0;
		@media (max-width: $sm) {
			font-size: .8rem;
			margin: 20px 0;
		}
	}
	&__btn {
		width: 100%;
		padding: 13px 5px;
		margin: 0 8px 13px;
		@media (max-width: $lg) {
			flex: 1 1 40%;
		}
		&--head {
			font-size: .77rem;
			display: block;
		}
		&--body {
			font-size: .67rem;
			color: #a7afb6;
			@media (max-width: $lg) {
				display: none;
			}
		}
		&--primary {
			margin-bottom: 60px;
			@media (max-width: $lg) {
				margin-bottom: 20px;
			}
			@media (max-width: $sm) {
				width: 100%;
				font-size: 1rem;
				padding: 10px 0;
			}
		}
	}
	&__photo {
		width: 100%;
		border-right: 1px solid #fff;
		border-top: 1px solid #fff;
		&--row {
			padding: 20px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: -4px;
			@media (max-width: $sm) {
				flex-wrap: wrap;
			}
		}
		&--popup {
			margin-bottom: -4px;
			max-width: 25%;
			flex: 0 0 25%;
			@media (max-width: $sm) {
				max-width: 50%;
				flex: 0 0 50%;
			}
			
		}
	}
	&__free {
		background-color: $black;
		display: block;
		width: 100%;
		color: $white;
		font-size: .8rem;
		text-align: center;
		padding: 8px 40px;
		line-height: 1.5;
		@media (max-width: $lg) {
			padding: 20px 80px;
			display: flex;
			flex-direction: column-reverse;
			.hidden-lg {
				display: none;
			}
		}
		@media (max-width: $sm) {
			padding: 20px 10px;
		}
		&--strong {
			font-weight: 500;
		}
		img {
			vertical-align: middle;
			@media (max-width: $lg) {
				margin-bottom: 10px;
			}
		}
	}
}
