@font-face {
    font-family: Gibson;
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/Canada Type - Gibson-Regular.otf") format("opentype");
}

@font-face {
    font-family: Gibson;
    font-weight: 300;
    font-style: normal;
    src: url("/fonts/Canada Type - Gibson-Light.otf") format("opentype");
}

@font-face {
    font-family: Gibson;
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/Canada Type - Gibson-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: "VeneerClean";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/Yellow Design Studio - VeneerClean-Reg.otf") format("opentype");
}

