
.footer {
    padding-bottom: 60px;
    @media (max-width: $sm) {
        padding-bottom: 30px;
    }
    &__items {
        margin-top: 29px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .8rem;
        @media (max-width: $xl) {
            flex-direction: column;
        }
    }
    &__social {
        @media (max-width: $xl) {
            margin-bottom: 25px;
        }
    }
    &__links {
        padding-left: 12px;
        display: flex;
        justify-content: flex-start;
        flex: 1;
    }
    &__link {
        margin: 0 15px;
        @media (max-width: $sm) {
            font-size: .7rem;
        }
    }
    &__billing {
        margin: 8px auto 0;
        font-size: .78rem;
        text-align: center;
        font-weight: 300;
        letter-spacing: 0.5px;
        @media (max-width: $xl) {
            max-width: 360px;
            text-align: center;
            line-height: 1.8rem;
            font-size: .8rem;
        }
        @media (max-width: $sm) {
            line-height: 1.2rem;
            font-size: .6rem;
        }
    }
    &__pay-logo {
        margin: 0 5px;
        display: inline-block;
        vertical-align: middle;
    }
    &__copyright {
        margin-top: 26px;
        flex-direction: column;
        color: $darkSmoke;
        font-size: .65rem;
        line-height: 1rem;
        text-align: center;
        font-weight: 300;
        letter-spacing: 0.5px;
        @media (max-width: $sm) {
            line-height: 1.2rem;
            font-size: .6rem;
        }
    }
    &__get-access {
        margin: 55px 0 20px;
        @media (max-width: $sm) {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}
