
.slider {
	max-width: 1300px;
	margin: auto;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
	width: 100%;
	@media (max-width: $lg) {
		max-width: none;
	}
	@media (max-width: $sm) {
		box-shadow: 0 1px 0 0 $silver;
	}
	> ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		width: 100%;
		overflow: hidden;
		li {
			width: 100%;
			max-width: 1300px;
			flex-shrink: 0;
			@media (max-width: $lg) {
				max-width: none;
			}
			transition: margin-left 1s ease;
		}
	}
    &__control {
        background-color: transparent;
        border: none;
        position: absolute;
        cursor: pointer;
        padding: 40px 20px;
        top: 37.8%;
        outline: none;
        @media (max-width: $xl) {
            top: 35%;
        }
        @media (max-width: $lg) {
            top: 30%;
        }
        @media (max-width: $sm) {
            display: none;
        }
        &--prev {
            left: 90px;
            @media (max-width: $xl) {
                left: 5%;
            }
            @media (max-width: $lg) {
                left: 0;
            }
        }
        &--next {
            transform: scale(-1, 1);
            right: 90px;
            @media (max-width: $xl) {
                right: 5%;
            }
            @media (max-width: $lg) {
                right: 0;
            }
        }
        &--play {
            display: none;
            @media (max-width: $sm) {
                display: block;
                padding: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
	.item__caption {
		padding-left: 0;
		padding-right: 0;
		@media (max-width: $md) {
			padding: 12px 8px 16px 8px;
			.container {
				width: 100%;
			}
		}
	}
}