/* Breakpoints */

$sm: 576px;
$md: 667px;
$lg: 991px;
$xl: 1200px;

/* Main colors */

$red: #f40612;
$darkRed: #d9000a;

$green: #0fb864;
$darkGreen: #00a352;

$blue: #1c86ff;
$darkBlue: #0a71e8;

$black: #010101;
$darkSmoke: #808993;
$smoke: #a2acb7;
$silver: #cfd4da;
$lightSmoke: #f1f3f4;
$extraLightSmoke: #f8f9fa;
$white: #fff;

$form-invalid-border-color: #ff0000;
$form-invalid-bg-color: #fdeded;
$form-invalid-font-color: $red;

$font-size-default: 18px;
$font-color-default: $black;
$font-color-button: $white;

$border-radius-default: 3px;