{% extends 'base.html.twig' %}

{% block body %}
    <section class="episodes-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section__main">
                        <h1 class="section__title">{{ pageTitle }}</h1>
                        <ul class="filter">
                            {% for sortOption, sortTitle in sortOptions %}
                                <li class="filter__item">
                                    {% if sort == sortOption %}
                                        <span class="btn btn--exsmall btn--dark">{{ sortTitle }}</span>
                                    {% else %}
                                        <a class="btn btn--exsmall btn--outlined"
                                           href="{{ path('contentTagIndex', {sort: sortOption}) }}">{{ sortTitle }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% if imageTags | length %}
                <div class="row row-eq-height">
                    {% for tag in imageTags %}
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <article class="tags__item item">
                                <figure class="item__figure">
                                    <a href="{{ path('contentTagScenes', {slug: tag.slug}) }}"
                                       class="item__image-wrap item__image-wrap--tags">
                                        <img class="item__image"
                                             src="{{ assetsUrlBuilder.contentTagThumb(tag, 360) }}"
                                             alt=""
                                             sizes="(min-width: 992px) calc( (1020px - 69px) / 3 ), (min-width: 667px) calc( (640px - 36px) / 2 ), calc (100vw  - 16px)"
                                             srcset="{{ assetsUrlBuilder.contentTagThumb(tag, 360) }} 360w, {{ assetsUrlBuilder.contentTagThumb(tag, 720) }} 720w">
                                    </a>
                                    <figcaption class="item__caption item__caption--tags">
                                        <h3 class="item__title item__title--tags"><a
                                                href="{{ path('contentTagScenes', {slug: tag.slug}) }}">{{ tag.name }}</a>
                                        </h3>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row">
                <div class="col-xs-12">
                    <ul class="tag-list">
                        {% for tag in textTags %}
                            <li class="tag-list__item">
                                <a href="{{ path('contentTagScenes', {slug: tag.slug}) }}"
                                   class="tag-list__link">{{ tag.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}