{% extends 'base.html.twig' %}

{% block body %}
    <section class="episodes-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section__main">
                        <h1 class="section__title">Episodes tagged "{{ contentTag.name }}"</h1>
                    </div>
                </div>
            </div>

            <div class="row row-eq-height">
                {% for scene in scenes %}
                    {% include "scene/partials/sceneListItem.html.twig" with {scene: scene} only %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}