{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="stan-page-title">STAN Reports</h1>

    <table class="table">
        <thead></thead>
        <tbody>
            {% if (checkAccess('report', 'vatReport')) %}
                <tr>
                    <td>
                        <a href="{{ path('reportVat') }}">
                            <span>Vat Report</span>
                        </a>
                    </td>
                </tr>
            {% endif %}
            {% if (checkAccess('report', 'vatCountryReport')) %}
                <tr>
                    <td>
                        <a href="{{ path('vatCountryReport') }}">
                            <span>Vat Country Report</span>
                        </a>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
