{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="stan-page-title">STAN Vat Report</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Country', 'country') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Amount', 'total') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'VAT Amount', 'vatTotal') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for order in pagination %}
                <tr>
                    <td>{{ order.country|countryCode2Name }}</td>
                    <td>{{ order.total }}</td>
                    <td>{{ order.vatTotal }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}
