{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="stan-page-title">STAN Vat Report</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'ID', 'o.id') }}</th>
                <th>Country</th>
                <th>Amount</th>
                <th>Vat Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for order in pagination %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.lastPayment.qualifiedVat.country|countryCode2Name }}</td>
                    <td>{{ order.totalCompletedAmount(from, to) }}</td>
                    <td>{{ order.totalVatAmount(from, to) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}
