<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" type="text/css" href="/dist/css/lib.css">
            <link rel="stylesheet" type="text/css" href="/dist/css/app.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>
        <nav class="nav stan-main-nav">
            <div class="nav-left">
                <a class="nav-item stan-main-nav__logo">STAN</a>
            </div>

            <div class="nav-center">
                {% if (checkAccess('customer', 'index')) %}
                    <a class="nav-item" href="{{ path('customerIndex') }}">Customers</a>
                {% endif %}
                {% if (checkAccess('user', 'index')) %}
                    <a class="nav-item" href="{{ path('userIndex') }}">Users</a>
                {% endif %}
                {% if (checkAccess('report', 'index')) %}
                    <a class="nav-item" href="{{ path('reportIndex') }}">Reports</a>
                {% endif %}
            </div>

            <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
            <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
            <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
              </span>

            <!-- This "nav-menu" is hidden on mobile -->
            <!-- Add the modifier "is-active" to display it on mobile -->
            <div class="nav-right nav-menu">
                <div class="nav-item stan-main-nav__logged-in-as">
                    {% if app.user %}
                        <span>Logged in as: {{ app.user.name }}.
                            <a href="{{ path('logout') }}">Log out</a></span>
                    {% else %}
                        <a href="{{ hwi_oauth_login_url('google') }}">Sign in</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="stan-content">
            {% block body %}
            {% endblock %}
        </div>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                    crossorigin="anonymous"></script>
            <script src="/dist/js/app.js"></script>
        {% endblock %}
    </body>
</html>
