<section class="episodes-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="episodes-section__title{% if headerClass is defined %} {{ headerClass }}{% endif %}">
                    {{ title }}
                    {% if total is defined %}
                        <span class="quantity-number--episode quantity-number--episode">{{ total }}</span>
                    {% endif %}
                </h2>
            </div>
        </div>
        <div class="row">
            {% for scene in scenes %}
                {% include "scene/partials/sceneListItem.html.twig" with {scene: scene} only %}
            {% endfor %}
        </div>
        {% if showMoreLink is defined %}
            <div class="row">
                <div class="col-xs-12 h-horizontal-center">
                    <a href="{{ showMoreLink }}" class="btn btn--outlined btn--small show-more-btn">Show more</a>
                </div>
            </div>
        {% endif %}
    </div>
</section>
