<div class="col-xs-12 col-sm-6">
    <article class="episodes__item item">
        <figure class="item__figure">
            <a href="{{ path('sceneView', {slug: scene.slug}) }}" class="item__image-wrap">
                <img class="item__image item__image--1"
                     src="{{ assetsUrlBuilder.sceneThumb(scene, 720, 1) }}"
                     alt=""
                     sizes="(min-width: 992px) calc( (1020px - 36px) / 2 ), (min-width: 667px) calc( (640px - 36px) / 2 ), calc (100vw  - 16px)"
                     srcset="{{ assetsUrlBuilder.sceneThumb(scene, 360, 1) }} 360w, {{ assetsUrlBuilder.sceneThumb(scene, 720, 1) }} 720w, {{ assetsUrlBuilder.sceneThumb(scene, 1000, 1) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scene, 1300, 1) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scene, 2600, 1) }} 2600w">

                <img class="item__image item__image--2"
                     data-src="{{ assetsUrlBuilder.sceneThumb(scene, 720, 2) }}"
                     alt=""
                     sizes="(min-width: 992px) calc( (1020px - 36px) / 2 ), (min-width: 667px) calc( (640px - 36px) / 2 ), calc (100vw  - 16px)"
                     data-srcset="{{ assetsUrlBuilder.sceneThumb(scene, 360, 2) }} 360w, {{ assetsUrlBuilder.sceneThumb(scene, 720, 2) }} 720w, {{ assetsUrlBuilder.sceneThumb(scene, 1000, 2) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scene, 1300, 2) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scene, 2600, 2) }} 2600w">

                <img class="item__image item__image--3"
                     data-src="{{ assetsUrlBuilder.sceneThumb(scene, 720, 3) }}"
                     alt=""
                     sizes="(min-width: 992px) calc( (1020px - 36px) / 2 ), (min-width: 667px) calc( (640px - 36px) / 2 ), calc (100vw  - 16px)"
                     data-srcset="{{ assetsUrlBuilder.sceneThumb(scene, 360, 3) }} 360w, {{ assetsUrlBuilder.sceneThumb(scene, 720, 3) }} 720w, {{ assetsUrlBuilder.sceneThumb(scene, 1000, 3) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scene, 1300, 3) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scene, 2600, 3) }} 2600w">

                <img class="item__image item__image--4"
                     data-src="{{ assetsUrlBuilder.sceneThumb(scene, 720, 4) }}"
                     alt=""
                     sizes="(min-width: 992px) calc( (1020px - 36px) / 2 ), (min-width: 667px) calc( (640px - 36px) / 2 ), calc (100vw  - 16px)"
                     data-srcset="{{ assetsUrlBuilder.sceneThumb(scene, 360, 4) }} 360w, {{ assetsUrlBuilder.sceneThumb(scene, 720, 4) }} 720w, {{ assetsUrlBuilder.sceneThumb(scene, 1000, 4) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scene, 1300, 4) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scene, 2600, 4) }} 2600w">

                <img class="item__image item__image--5"
                     data-src="{{ assetsUrlBuilder.sceneThumb(scene, 720, 5) }}"
                     alt=""
                     sizes="(min-width: 992px) calc( (1020px - 36px) / 2 ), (min-width: 667px) calc( (640px - 36px) / 2 ), calc (100vw  - 16px)"
                     data-srcset="{{ assetsUrlBuilder.sceneThumb(scene, 360, 5) }} 360w, {{ assetsUrlBuilder.sceneThumb(scene, 720, 5) }} 720w, {{ assetsUrlBuilder.sceneThumb(scene, 1000, 5) }} 1000w, {{ assetsUrlBuilder.sceneThumb(scene, 1300, 5) }} 1300w, {{ assetsUrlBuilder.sceneThumb(scene, 2600, 5) }} 2600w">

                <span class="item__image-position-marker"></span>
            </a>

            <figcaption class="item__caption item__caption--column">
                <div class="caption__row">
                    <h3 class="item__title"><a href="{{ path('sceneView', {slug: scene.slug}) }}">{{ scene.title }}</a></h3>
                    {% if scene.isRatingPublic() %}
                        <div class="item__rating rating-inner">
                            <div class="rating__value">{{ scene.rating | contentRating }}</div>
                            <div class="rating__ico"></div>
                        </div>
                    {% endif %}

                    {% if scene.quality >= constant('AppBundle\\Entity\\Scene::QUALITY_HD') %}
                        <div class="item__quality">
                            {% if scene.quality == constant('AppBundle\\Entity\\Scene::QUALITY_HD') %}
                                HD
                            {% elseif scene.quality == constant('AppBundle\\Entity\\Scene::QUALITY_4K') %}
                                4K UHD
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="caption__row caption__row--lg-column">
                    <div class="item__performers">
                        {% for performer in scene.cast %}
                            <a href="{{ path('performerView', {slug: performer.slug}) }}"
                               class="item__performer">{{ performer.name }}</a>
                        {% endfor %}
                    </div>
                    <div class="item__date">
                        <time>{{ scene.liveDateStart | date('F j, Y') }}</time>
                    </div>
                </div>
            </figcaption>
        </figure>
    </article>
</div>
