<section class="upcoming">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="upcoming__title">Upcoming episode</h2>
                <div class="countdown" data-countdown="{{ upcomingScene.timeTillLiveDateStart }}">
                    <span class="countdown__item countdown__item--hours">00</span>:<span
                        class="countdown__item countdown__item--mins">00</span>:<span
                        class="countdown__item countdown__item--secs">00</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="upcoming__photos">
                    <a href="{{ path('sceneView', {slug: upcomingScene.slug}) }}" class="upcoming__photo--popup">
                        <img class="upcoming__photo upcoming__photo--main"
                             src="{{ assetsUrlBuilder.sceneThumb(upcomingScene, 720, 1) }}"
                             alt=""
                             sizes="(min-width: 1200px) 1004px,(min-width: 992px) 955px,(min-width: 667px) 624px, calc (100vw - 16px)"
                             srcset="{{ assetsUrlBuilder.sceneThumb(upcomingScene, 360, 1) }} 360w, {{ assetsUrlBuilder.sceneThumb(upcomingScene, 720, 1) }} 720w, {{ assetsUrlBuilder.sceneThumb(upcomingScene, 1000, 1) }} 1000w, {{ assetsUrlBuilder.sceneThumb(upcomingScene, 1300, 1) }} 1300w, {{ assetsUrlBuilder.sceneThumb(upcomingScene, 2600, 1) }} 2600w">
                    </a>
                    <div class="upcoming__photo--row">
                        {% for i in [2, 3, 4, 5] %}
                            <a href="{{ path('sceneView', {slug: upcomingScene.slug}) }}"
                               class="upcoming__photo--popup">
                                <img class="upcoming__photo"
                                     src="{{ assetsUrlBuilder.sceneThumb(upcomingScene, 720, i) }}"
                                     alt=""
                                     sizes="(min-width: 1200px) 250px,(min-width: 992px) 240px,(min-width: 667px) 150px, 25vw"
                                     srcset="{{ assetsUrlBuilder.sceneThumb(upcomingScene, 360, i) }} 360w, {{ assetsUrlBuilder.sceneThumb(upcomingScene, 720, i) }} 720w, {{ assetsUrlBuilder.sceneThumb(upcomingScene, 1000, i) }} 1000w, {{ assetsUrlBuilder.sceneThumb(upcomingScene, 1300, i) }} 1300w, {{ assetsUrlBuilder.sceneThumb(upcomingScene, 2600, i) }} 2600w">
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <h3 class="upcoming__episode-title">
                    {{ upcomingScene.title }} -
                    {% for performer in upcomingScene.cast %}
                        {{ performer.name }}{%- if loop.last == false %}, {% endif %}
                    {% endfor %}
                </h3>
                <div class="upcoming__episode-info">
                    Release date
                    <time class="upcoming__episode-info--value">{{ upcomingScene.liveDateStart | date('F j, Y') }}</time>
                    {% if upcomingScene.runtime %}
                        Runtime
                        <time class="upcoming__episode-info--value">{{ upcomingScene.runtimeHumanShort }}</time>
                    {% endif %}
                    <p class="upcoming__episode-descr">{{ upcomingScene.synopsis }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
