{% set performerUrl = path('performerView', {slug: performer.slug}) %}

<div class="col-xs-6 col-sm-4 col-md-3">
    <article class="performers__item item">
        <figure class="item__figure">
            <a href="{{ performerUrl }}" class="item__image-wrap">
                <img class="item__image"
                     src="{{ assetsUrlBuilder.performerThumb(performer, 360, 1) }}"
                     alt="{{ performer.name }}"
                     sizes="(min-width: 992px) calc( (1020px - 72px) / 4 ), (min-width: 667px) calc( (640px - 55px) / 3 ), 50vw"
                     srcset="{{ assetsUrlBuilder.performerThumb(performer, 360, 1) }} 360w, {{ assetsUrlBuilder.performerThumb(performer, 720, 1) }} 720w">
            </a>
            <figcaption class="item__caption item__caption--performers">
                <h3 class="item__title item__title--performers"><a href="{{ performerUrl }}">{{ performer.name }}</a>
                </h3>
                {% if performer.isRatingPublic() %}
                    <div class="item__rating rating-inner rating--performers">
                        <div class="rating__value">{{ performer.rating | contentRating }}</div>
                        <div class="rating__ico"></div>
                    </div>
                {% endif %}
            </figcaption>
        </figure>
    </article>
</div>