<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="/dist/css/app.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

        {% block head_javascripts %}
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>
    <body>
        <header class="header affix">
            <div class="container h-container-md-fluid">
                <div class="row h-vertical-center">
                    <div
                        class="col-xs-5 {% if app.user %}col-xs-push-2{% else %}col-xs-push-3{% endif %} col-md-4 col-md-push-0">
                        <a href="{{ path('indexIndex') }}" class="header__logo-link">
                            <img src="/images/logo.svg" class="header__logo-image" alt="BlackMailed logo">
                        </a>
                    </div>
                    <div
                        class="col-xs-3 {% if app.user %}col-xs-pull-4 col-md-7{% else %}col-xs-pull-5 col-md-6{% endif %} col-md-pull-0">
                        <nav class="header__navigation">
                            <button class="toggle-menu">
							<span class="sandwich">
								<span class="sw-topper"></span>
								<span class="sw-bottom"></span>
								<span class="sw-footer"></span>
							</span>
                            </button>
                            <ul class="navigation">
                                <li class="navigation__item"><a href="{{ path('sceneEpisodes', {sort: 'newest'}) }}"
                                                                class="navigation__link">Episodes</a></li>
                                <li class="navigation__item"><a href="{{ path('performerGirls', {sort: 'newest'}) }}"
                                                                class="navigation__link">Girls</a></li>
                                <li class="navigation__item"><a href="{{ path('contentTagIndex', {sort: 'popular'}) }}"
                                                                class="navigation__link">Tags</a></li>
                                <li class="navigation__item"><a href="{{ path('sceneBts', {sort: 'newest'}) }}"
                                                                class="navigation__link">BTS</a></li>
                                {% if not app.user %}
                                    <li class="navigation__item"><a href="{{ path('userLogin') }}"
                                                                    class="navigation__link">Login</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    {% if not app.user %}
                        <div class="col-xs-4 col-md-3 col-lg-2 header__btn-wr">
                            <a href="{{ path('userSignup') }}" class="header__btn btn btn--primary btn--medium">
                                <span class="h-hidden-md-up">Join free</span>
                                <span class="h-hidden-md-down">Get free access</span>
                            </a>
                        </div>
                    {% else %}
                        <div class="col-xs-4 col-md-2">
                            {% if not authChecker.granted(constant('AppBundle\\Security\\WebsiteVoter::ATTRIBUTE_ACCESS'), constant('AppBundle\\Security\\WebsiteVoter::SUBJECT')) %}
                                <a href="{{ path('membershipUpgrade') }}"
                                   class="header__btn btn btn--primary btn--medium">Upgrade</a>
                            {% endif %}
                        </div>
                        <div class="col-md-1">
                            <div class="account">
                                <div class="account__pic"><img src="/images/avatar.svg" alt=""></div>
                                <button class="account__button"></button>
                                <ul class="account__menu">
                                    <li class="account__item">
                                        <a href="{{ path('userMyAccount') }}" class="account__link">My Account</a>
                                    </li>
                                    <li class="account__item">
                                        <a href="{{ path('indexSupport') }}" class="account__link">Support</a>
                                    </li>
                                    <li class="account__item">
                                        <a href="{{ path('logout') }}" class="account__link">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </header>

        <div class="inner">
            {% block body %}
            {% endblock %}

            <footer class="footer">
                <div class="container">
                    {% block footer_signup_button %}
                        {% if not app.user %}
                            <div class="row">
                                <div class="col-xs-12 h-horizontal-center">
                                    <a href="{{ path('userSignup') }}"
                                       class="footer__get-access btn btn--primary btn--exlarge">Get free access</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endblock %}

                    <div class="row">
                        <div class="col-xs-12 col-md-8 col-md-offset-2">
                            <div class="footer__items">
                                <div class="footer__social social">
                                    <a href="https://www.twitter.com/blackmailed_com"
                                       class="social__item social__item--tw">
                                        Follow us on
                                    </a>
                                    <a href="https://www.instagram.com/blackmailed_com"
                                       class="social__item social__item--inst">
                                        Check out the girls on
                                    </a>
                                </div>
                                <ul class="footer__links">
                                    {% if not app.user %}
                                        <li class="footer__link"><a href="{{ path('userLogin') }}">Member Login</a></li>
                                    {% endif %}
                                    <li class="footer__link"><a href="{{ path('indexTerms') }}">Terms</a></li>
                                    <li class="footer__link"><a href="{{ path('indexPrivacy') }}">Privacy</a></li>
                                    <li class="footer__link"><a href="{{ path('indexSupport') }}">Support</a></li>
                                </ul>
                            </div>
                            <div class="footer__items">
                                <div class="footer__billing">
                                    For billing inquiries or to cancel your membership, please visit <a
                                        class="footer__pay-logo" href="https://www.truepay.io"><img
                                            src="/images/logo-truepay.svg"
                                            alt=""></a> our authorized sales agent.
                                </div>
                            </div>
                            <div class="footer__items footer__copyright">
                                <span class="copyright__item">© EA Internet 2017. All Rights Reserved Worldwide. </span>
                                <span
                                    class="copyright__item">Records required by 18 USC 2257 and 28 CFR 75 are maintained by J. Stagliano,</span>
                                <span
                                    class="copyright__item">Custodian of Records, 14141 Covello St. Unit 8C, Van Nuys, CA 91405 USA.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

            {% if needShowSignupBanner %}
                <div class="promo-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="{{ path('userSignup') }}" class="promo-block__link">
                                    <img class="promo-block__image" src="/images/title-register-for-free.svg" alt="">
                                </a>
                                <a href="#" class="promo-block__link--close">
                                    <svg width="10px" height="10px" viewBox="0 0 10 10" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="footer-1020-register" transform="translate(-1010.000000, -16.000000)"
                                               fill="#FFFFFF">
                                                <path
                                                    d="M1014.83411,19.713715 L1011.29482,16.1744305 C1011.05955,15.9391571 1010.67808,15.9426922 1010.44061,16.1801578 L1010.18016,16.4406132 C1009.94535,16.6754248 1009.94013,17.0605223 1010.17443,17.2948248 L1013.71371,20.8341093 L1010.17443,24.3733939 C1009.93916,24.6086672 1009.94269,24.9901399 1010.18016,25.2276055 L1010.44061,25.4880609 C1010.67542,25.7228726 1011.06052,25.7280907 1011.29482,25.4937882 L1014.83411,21.9545037 L1018.37339,25.4937882 C1018.60867,25.7290615 1018.99014,25.7255265 1019.22761,25.4880609 L1019.48806,25.2276055 C1019.72287,24.9927938 1019.72809,24.6076963 1019.49379,24.3733939 L1015.9545,20.8341093 L1019.49379,17.2948248 C1019.72906,17.0595514 1019.72553,16.6780788 1019.48806,16.4406132 L1019.22761,16.1801578 C1018.99279,15.9453461 1018.6077,15.940128 1018.37339,16.1744305 L1014.83411,19.713715 Z"
                                                    id="icon-close"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% elseif not app.user %}
                <a class="pay-block" href="{{ path('userSignup') }}">
                    <div class="pay-info">
                        Join now securely via <img src="/images/logo-truepay.svg" alt="">
                    </div>
                    <div class="pay-logos">
                        <img src="/images/mastercard.svg" alt="">
                        <img src="/images/visa.svg" alt="">
                    </div>
                </a>
            {% endif %}
        </div>

        {% block javascripts %}
            <script src="/dist/js/lib.js"></script>
            <script src="/dist/js/app.js"></script>
        {% endblock %}
    </body>
</html>
