{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sign In to SHED</h1>
    {% block hwi_oauth_content %}
        {% if error is defined and error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}
        {% for owner in hwi_oauth_resource_owners() %}
            <a href="{{ hwi_oauth_login_url(owner) }}"><img src="{{ asset('bundles/shed/images/signin_google.png') }}"></a>
        {% endfor %}
    {% endblock hwi_oauth_content %}
{% endblock %}