$font_path: "../fonts/";

@font-face {font-family: 'Gibson-Regular';src: url('#{$font_path}309E95_4_0.eot');src: url('#{$font_path}309E95_4_0.eot?#iefix') format('embedded-opentype'),url('#{$font_path}309E95_4_0.woff2') format('woff2'),url('#{$font_path}309E95_4_0.woff') format('woff'),url('#{$font_path}309E95_4_0.ttf') format('truetype');}
@font-face {font-family: 'Gibson-Light';src: url('#{$font_path}309E95_7_0.eot');src: url('#{$font_path}309E95_7_0.eot?#iefix') format('embedded-opentype'),url('#{$font_path}309E95_7_0.woff2') format('woff2'),url('#{$font_path}309E95_7_0.woff') format('woff'),url('#{$font_path}309E95_7_0.ttf') format('truetype');}
@font-face {font-family: 'Gibson-Semibold';src: url('#{$font_path}309E95_5_0.eot');src: url('#{$font_path}309E95_5_0.eot?#iefix') format('embedded-opentype'),url('#{$font_path}309E95_5_0.woff2') format('woff2'),url('#{$font_path}309E95_5_0.woff') format('woff'),url('#{$font_path}309E95_5_0.ttf') format('truetype');}

$defaultFont: 'Gibson-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$lightFont: 'Gibson-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$semiboldFont: 'Gibson-Semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;