@import "fonts";
@import "variables/colors";

.footer {
  margin-top: 45px;
  p {
    text-align: center;
  }
  .footer__adv {
    margin-bottom: 40px;
    p {
      font-size: 16px;
    }
  }
  .footer__disc {
    margin-bottom: 60px;
    p {
      font-family: $lightFont;
      font-size: 12px;
      line-height: 1.6em;
      color: $light-grey;
    }
  }
}

@media (max-width: 991px) {
  .footer {
    padding: 0 15px;
  }
}

@media (max-width: 680px) {
  .footer {
    .footer__adv {
      margin-bottom: 22px;
      p {
        font-size: 13px;
      }
    }
    .footer__disc {
      margin-bottom: 17px;
    }
  }
}