.header {
  padding: 30px 0;
}

@media (max-width: 991px) {
  .header {
    padding: 15px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
}

@media (max-width: 680px) {
  .header {
    img {
      width: 140px;
    }
  }
}