@import "variables/colors";

.player {
  position: relative;
  width: 100%;
  height: 547px;
  > div {
    height: 547px;
  }
  .player__cover {
    position: absolute;
    width: 100%;
    z-index: 3;
    cursor: pointer;
    > img {
      width: 100%;
    }
    .player_cover_play {
      position: absolute;
      left: calc(50% - 59.5px);
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 114px;
      height: 114px;
      background-color: $bright-red;
      border: solid 2.4px $white;
      border-radius: 50%;
      transition: background-color .2s;
      -webkit-transition: background-color .2s;
      -moz-transition: background-color .2s;
      -o-transition: background-color .2s;
      .triangle {
        position: absolute;
        top: 32px;
        left: 38px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 0 25px 50px;
        border-color: transparent transparent transparent $white;
      }
    }
    &:hover {
      .player_cover_play {
        background-color: $black;
      }
    }
  }
}

@media (max-width: 991px) {
  .player {
    height: auto;
    > div {
      height: auto;
    }
  }
}

@media (max-width: 680px) {
  .player {
    .player__cover {
      .player_cover_play {
        width: 48px;
        height: 48px;
        left: calc(50% - 24px);
        .triangle {
          border-width: 10px 0 10px 20px;
          top: 14px;
          left: 18px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .player {
    .player__cover {
      > img {
        min-height: 181px;
      }
    }
  }
}