{% extends 'base.html.twig' %}

{% block body %}
    <section class="performers-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section__main">
                        <h1 class="section__title">{{ pageTitle }}</h1>
                        {#Show count when there's more content#}
                        {#<div class="section__quantity btn btn--xxsmall btn--outlined">100</div>#}
                        <ul class="filter">
                            {% for sortOption, sortTitle in sortOptions %}
                                <li class="filter__item">
                                    {% if sort == sortOption %}
                                        <span class="btn btn--exsmall btn--dark">{{ sortTitle }}</span>
                                    {% else %}
                                        <a class="btn btn--exsmall btn--outlined"
                                           href="{{ path('performerGirls', {sort: sortOption}) }}">{{ sortTitle }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row row-eq-height">
                {% for performer in performers %}
                    {% include "performer/partials/performerListItem.html.twig" with { performer: performer } only %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}