{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <article class="item item--noborder">
                    <figure class="item__figure">
                        <div class="item__gallery gallery">
                            <span class="item__image-wrap gallery__item gallery__item--main">
                                <img class="item__image item__image--single"
                                     src="{{ assetsUrlBuilder.performerThumb(performer, 360, 1) }}"
                                     alt=""
                                     sizes="(min-width: 992px) calc( (1020px - 87px) / 3 ), (min-width: 667px) calc( (640px - 40px) / 3 ), (min-width: 575px) 80vw, 100vw"
                                     srcset="{{ assetsUrlBuilder.performerThumb(performer, 360, 1) }} 360w, {{ assetsUrlBuilder.performerThumb(performer, 720, 1) }} 720w">
                            </span>
                            <div class="gallery__item gallery__item-wr">
                                <span class="item__image-wrap gallery__item gallery__item--middle">
                                    <img class="item__image item__image--single"
                                         src="{{ assetsUrlBuilder.performerThumb(performer, 360, 2) }}"
                                         alt=""
                                         sizes="(min-width: 992px) calc( (1020px - 72px) / 4 ), (min-width: 667px) calc( (640px - 55px) / 3 ), 50vw"
                                         srcset="{{ assetsUrlBuilder.performerThumb(performer, 360, 2) }} 360w, {{ assetsUrlBuilder.performerThumb(performer, 720, 2) }} 720w">
                                </span>
                                <span class="item__image-wrap gallery__item">
                                    <img class="item__image item__image--single"
                                         src="{{ assetsUrlBuilder.performerThumb(performer, 360, 3) }}"
                                         alt=""
                                         sizes="(min-width: 992px) calc( (1020px - 72px) / 4 ), (min-width: 667px) calc( (640px - 55px) / 3 ), 50vw"
                                         srcset="{{ assetsUrlBuilder.performerThumb(performer, 360, 3) }} 360w, {{ assetsUrlBuilder.performerThumb(performer, 720, 3) }} 720w">
                                </span>
                            </div>
                        </div>
                        <figcaption class="item__caption item__caption--single">
                            <div class="item__info item__info--performer">
                                <h3 class="item__title">{{ performer.name }}</h3>
                                <div class="quantity">
                                    <span class="quantity-number">{{ scenes | length }}</span>
                                    {% transchoice scenes | length %}
                                    {0} No Episodes|{1} Episode|]1,Inf[ Episodes
                                    {% endtranschoice %}
                                </div>

                                {% if authChecker.granted(constant('AppBundle\\Security\\ContentRatingVoter::ATTRIBUTE_VOTE'), constant('AppBundle\\Security\\ContentRatingVoter::SUBJECT')) %}
                                    <div class="item__rating">
                                        <div class="rating-inner">
                                            {% if performer.ratingPublic %}
                                                <div class="rating__value rating__value--logged">
                                                    {{ performer.rating | contentRating }}
                                                </div>
                                            {% endif %}
                                            {% if currentVote == 1 %}
                                                <div class="rating__ico rating__ico--logged rating__ico--checked"></div>
                                            {% else %}
                                                <a href="{{ path('contentRatingVote', {contentType: 'Performer', contentId: performer.id, value: 1}) | raw }}"
                                                   class="rating__ico rating__ico--logged"></a>
                                            {% endif %}
                                        </div>

                                        <div class="rating-inner">
                                            {% if performer.ratingPublic %}
                                                <div class="rating__value rating__value--logged">
                                                    {{ performer.rating | contentRating(false) }}
                                                </div>
                                            {% endif %}

                                            {% if currentVote == -1 %}
                                                <div
                                                    class="rating__ico rating__ico--logged rating__ico--down rating__ico--checked"></div>
                                            {% else %}
                                                <a href="{{ path('contentRatingVote', {contentType: 'Performer', contentId: performer.id, value: -1}) | raw }}"
                                                   class="rating__ico rating__ico--logged rating__ico--down"></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% if performer.isRatingPublic() %}
                                        <div class="item__rating rating-inner">
                                            <div class="rating__value">{{ performer.rating | contentRating }}</div>
                                            <div class="rating__ico"></div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="item__info">
                                <ul class="item__tags item__tags--ltr tags">
                                    {% for tag in contentTags %}
                                        <li class="tags__item tags__item--ltr">
                                            <a href="{{ path('contentTagScenes', {slug: tag.slug}) }}"
                                               class="tags__link btn btn--dark btn--xxsmall">{{ tag.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <p class="item__info item__info--black">
                                {{ performer.bio }}
                            </p>
                            <table class="item__table">
                                {% if performer.birthDate %}
                                    <tr>
                                        <th>Date of birth</th>
                                        <td>{{ performer.birthDate | date('F j, Y') }}</td>
                                    </tr>
                                {% endif %}
                                {% if performer.nationality %}
                                    <tr>
                                        <th>Nationality</th>
                                        <td>{{ performer.nationality }}</td>
                                    </tr>
                                {% endif %}
                                {% if performer.eyeColors %}
                                    <tr>
                                        <th>Eye color</th>
                                        <td>
                                            {% for eyeColor in performer.eyeColors %}{{ eyeColor.name }} {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if performer.hairColors %}
                                    <tr>
                                        <th>Hair color</th>
                                        <td>
                                            {% for hairColor in performer.hairColors %}{{ hairColor.name }} {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if performer.height %}
                                    <tr>
                                        <th>Height</th>
                                        <td>{{ performer.heightHuman }}</td>
                                    </tr>
                                {% endif %}
                                {% if performer.weight %}
                                    <tr>
                                        <th>Weight</th>
                                        <td>{{ performer.weightHuman }}</td>
                                    </tr>
                                {% endif %}
                                {% if performer.measurements %}
                                    <tr>
                                        <th>Measurements</th>
                                        <td>{{ performer.measurements }}</td>
                                    </tr>
                                {% endif %}
                            </table>
                        </figcaption>
                    </figure>
                </article>
            </div>
        </div>
    </div>

    {% include "scene/partials/episodesListPreview.html.twig" with {
    scenes: scenes,
    title: 'Episodes'
    } only %}
{% endblock %}