{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="stan-page-title"><a href="{{ path('userIndex') }}">STAN Users</a> / Edit {{ user.name }}</h1>

    <div class="columns">
        <div class="column is-half">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}