{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="stan-page-title">STAN Users</h1>

    <div class="field">
        {% if (checkAccess('user', 'new')) %}
            <a class="button" href="{{ path('userNew') }}">
            <span class="icon is-small">
                <i class="fa fa-plus"></i>
            </span>
                <span>Create</span>
            </a>
        {% endif %}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'ID', 'u.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'u.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in pagination %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>
                        {% if (checkAccess('user', 'edit')) %}
                            <a href="{{ path('userEdit', { id: user.id }) }}">{{ user.name }}</a>
                        {% else %}
                            {{ user.name }}
                        {% endif %}
                    </td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if (checkAccess('user', 'delete')) %}
                            <a href="{{ path('userDelete', {id: user.id}) }}"
                               class="button is-danger is-outlined is-small stan-j-delete-button">
                                <span>Delete</span>
                                <span class="icon is-small"><i class="fa fa-times"></i></span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}