@import "mixins/normalize";
@import "mixins/clearfix";
@import "mixins/elements/buttons";
@import "mixins/elements/forms";
@import "mixins/elements/images";
@import "mixins/elements/helpers";
@import "mixins/elements/icons";
@import "mixins/elements/loaders";

@import "mixins/grid";
@import "mixins/body";

body {
  @import "mixins/header";
  @import "mixins/player";
  a, .button {
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
  }
  .page__inner {
    position: relative;
  }
  .promo {
    margin-top: 40px;
    .promo__img {
      display: block;
      margin: 0 auto;
    }
  }
  @import "mixins/footer";
  
  @media (max-width: 991px) {
    .page__inner {
      width: 100% !important;
    }
    .promo {
      padding: 0 15px;
    }
  }
  @media (max-width: 320px) {
    .promo {
      margin-top: 20px;
    }
  }
}

