<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>

        <script type="text/javascript">
            parent.window.location = '{{ url }}';
        </script>
    </head>
    <body></body>
</html>
