{% if pageCount > 1 %}
    <nav class="pagination is-right">
        {% if previous is defined %}
            <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="pagination-previous">&laquo; Previous</a>
        {% else %}
            <a rel="prev" class="pagination-previous" disabled="">&laquo; Previous</a>
        {% endif %}

        {% if next is defined %}
            <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="pagination-next">Next &raquo;</a>
        {% else %}
            <a rel="next" class="pagination-next" disabled="">Next &raquo;</a>
        {% endif %}

        <ul class="pagination-list">
            {% if startPage > 1 %}
                <li>
                    <a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
                </li>
                {% if startPage == 3 %}
                    <li>
                        <a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                    </li>
                {% elseif startPage != 2 %}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                {% endif %}
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li>
                        <a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li><a class="pagination-link is-current">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if pageCount > endPage %}
                {% if pageCount > (endPage + 1) %}
                    {% if pageCount > (endPage + 2) %}
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                    {% else %}
                        <li>
                            <a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li>
                    <a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}



