{% extends 'base.html.twig' %}

{% block body %}
    {% include "index/partials/carousel.html.twig" with {scenes: newestScenes | slice(0, 4)} only %}

    {% include "scene/partials/episodesListPreview.html.twig" with {
    scenes: newestScenes,
    title: 'Newest episodes',
    showMoreLink: path('sceneEpisodes', {sort: 'newest'})
    } only %}

    {% include "scene/partials/episodesListPreview.html.twig" with {
    scenes: topRatedScenes,
    title: 'Top rated episodes',
    headerClass: 'episodes-section__title--top-rated',
    showMoreLink: path('sceneEpisodes', {sort: 'top-rated'})
    } only %}

    {% if upcomingScene %}
        {% include "scene/partials/upcomingScene.html.twig" with { upcomingScene: upcomingScene} only %}
    {% endif %}
{% endblock %}
