{% extends 'base.html.twig' %}

{% block body %}
    <div class="single">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <article class="single">
                        <h1>PRIVACY POLICY</h1>
                        <p>
                            EA Internet (“Us” “We” “Our” or “EA”) operates several websites including, but not limited to Blackmailed.com (collectively the Sites). It is Our policy to respect your privacy regarding any information we may collect while operating our Sites in accordance with applicable U.S. and E.U. member nation laws. This privacy policy (the "Privacy Policy") is intended to inform of how We gather and uses personal information and data submitted to the Sites. In this Privacy Policy, "user" or "you" means any person viewing the Sites (“Viewers”), registering on the Sites (“Registrants”) or paying to subscribe to services on the Sites (“Subscribers”). By using the Sites, you are indicating your consent to this Privacy Policy. IF YOU DO NOT AGREE WITH THIS PRIVACY POLICY OR CONSENT TO IT TERMS, DO NOT USE THE SITE AND SERVICES. USING THE SITE AND SERVICES MEANS ACCEPTANCE OF THESE TERMS.
                        </p>

                        <p>
                            The data controller for the purpose of data protection law is EA Internet, 14141 Covello Street, Unit 8-C, Van Nuys, California 91405 USA. Please feel free to address any questions or concerns regarding data privacy
                            <a href="{{ path('indexSupport') }}">here</a>.
                        </p>

                        <h2>WHAT IS COLLECTED</h2>
                        <p>
                            By navigating the Sites, signing up or communicating with the Our Customer Service department We collect personal information provided such as name, email, zip and Approved Facility (payment) details in accordance with the information set forth below.
                        </p>

                        <p>
                            <strong>Navigating the Site:</strong> When Viewers, Registrants or Subscribers visit and surf the site, anonymous demographic information may also be collected such as browser information and IP address. We may collect information automatically using web tracking technologies such as cookies, web beacons, pixel tags clear GIFs and third party tracking services in order to ensure that the Sites operate efficiently and to collect data related to usage of the Sites such as, but not limited to, the browser type, language preference, referring site, and the date and time of each visitor request (“Tracking Information”). Our purpose in collecting non-personally identifying information is to better understand how Our visitors use its website. From time to time, We may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
                        </p>

                        <p>If you do not wish to receive cookies, you may deactivate storing cookies on your computer by changing your browser settings accordingly. It is not possible to decline web beacons however if by refusing cookies this can also prevent web beacons from being used. Please note that the functioning of the website may be impaired and the range of functionalities may be severely limited if you deactivate cookies.
                        </p>

                        <p>We also collect potentially personally-identifying information like Internet Protocol (IP) addresses . We only disclose or share Registrant or Subscriber logged in addresses under the same circumstances that it uses and discloses personally-identifying information as described below. Based on your IP address, we collect what pages are viewed, by whom (IP addresses and when what content is viewed and for how long and what links and images are clicked on and when.
                        </p>

                        <p>
                            <strong>Registration and Subscription.</strong> If you choose to become a Registrant or Subscriber, We collect your name, email address and zipcode and age verification. For Subscribers, we also collect personal information provided to our third party Approved Facility.
                        </p>

                        <p>
                            <strong>Posting Information.</strong> We only allow Registrants and Subscribers to post comments, which are publicly posted and tied to your Subscriber or Registrant account and public username.
                        </p>

                        <h2>HOW USER INFORMATION IS USED</h2>

                        <p>
                            <strong>Tracking Information.</strong> To the extent permitted by law, We will compile and/or create for analytical purposes statistical, aggregated data relating to our users and the Sites and Services and display or share this information. Aggregated data is derived from Personal Information and Tracking Information but in its aggregated form it is de-identified in a manner so that it can not be used to identify any individual or individuals. This data is used to understand our customer base, their needs and to develop, improve and market our services.
                        </p>

                        <p>If you are a Registrant or Subscriber, your Tracking Information (except Google Analytics and VWO) will be connected with your Registration or Subscription ID in order to deliver information targeted to user interests and improve the quality of our Sites.
                        </p>

                        <p>
                            <strong>Personal Information.</strong> We use Personal Information to process payments for Users, communicate receipts, troubleshoot problems, resolve disputes, enforce any agreements or policies, monitor for fraud or abuse and to facilitate viewing of content commensurate with your level of access. If you are a Subscriber, we may use your Personal Information to contact you at the email address your provide regarding your billing and subscription. For Registrants and Subscribers We may ask your consent to communicate with you regarding the provision of services or notify you about new services or content, changes and improvements. If you provide such consent, will update your via the email address you provide accordingly. You can rescind this consent at any time via the Sites by updating your registration preferences. In each case, We collect such information only in so far as is necessary or appropriate to fulfill the purpose of the visitor's interaction with EA’s Sites.
                        </p>

                        <h2>SHARING OF YOUR INFORMATION</h2>

                        <p>
                            <strong>Providing Access.</strong> We share your Personal Information with third parties to complete transactions at your request to process payments for Subscribers or post comments you have submitted to the Sites, including but not limited to joining Blackmailed.com or providing you with products you request. By consenting to the terms and conditions of Blackmailed.com and taking any action to facilitate the completion of your transaction, you agree to the use of your personal information in this manner. We disclose potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on Our behalf and (ii) that have agreed not to disclose it to other through binding agreements, certifications or binding policies. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using Our Sites, you consent to the transfer of such information to them. We will not rent or sell Personally Information to anyone except under our Business Transfers policy below or as set forth in this Privacy Policy. Notwithstanding the foregoing, When We believe in good faith that disclosure is reasonably necessary to protect Our property or rights of third parties or the public at large, we reserve the right to disclose Personal Information.
                        </p>

                        <p>
                            <strong>Compelled Disclosure.</strong> We shall have the right to use or disclose Personal Information or to third parties to the extent required by law or legal process, such as a valid and enforceable subpoena, or if We in its reasonable discretion believes use of such Personal Information is necessary to investigate fraud, misuse, violation of our Terms of Use, Privacy Policy or any threat to the safety of any individual, or to protect Our legal rights or to protect the rights of third parties.
                        </p>

                        <p>
                            <strong>Special Notice Regarding Google Analytics.</strong> Our Sites utilize Google Analytics to collect information about the use of this service only on the site. Google Analytics collects information such as how often users visit this site, what pages they visit when they do so, and what other sites they used prior to coming to this site. We use the information we get from Google Analytics only to improve the Sites, but in anonymous form. Google Analytics collects only the IP address assigned to you on the date you visit this site and assigns a user ID code, rather than your name or other identifying information. We do not combine the information collected through the use of Google Analytics with personally identifiable information. Google uses this information to analyze your use of the website, to generate reports about website activities for website operators and to provide further services related to website and internet use. Google may also share such information with third parties to the extent it is legally required to do so and/or to the extent third parties process data on behalf of Google. Although Google Analytics plants a permanent cookie on your web browser to identify you as a unique user the next time you visit this site, the cookie cannot be used by anyone but Google. Google’s ability to use and share information collected by Google Analytics about your visits to this site is restricted by the Google Analytics Terms of Use and the Google Privacy Policy. You can prevent Google Analytics from recognizing you on return visits to this site by disabling cookies on your browser. You may deactivate Google Analytics with the help of a browser add-on if you do not want this website analysis. This add-on can be downloaded at:
                            <a href="http://tools.google.com/dlpage/gaoptout?hl=en">http://tools.google.com/dlpage/gaoptout?hl=en</a>.
                        </p>

                        <p>
                            <strong>Special Notice Regarding Visual Website Optimizer.</strong> Our Sites utilize Visual Website Optimizer (“VWO”) to collect information about the use of this service only on the site. VWO collects information such as how often users visit this site, what pages they visit when they do so, and what other sites they used prior to coming to this site. We use the information we get from VWO only to improve the Sites, but in anonymous form. VWO collects only the IP address assigned to you on the date you visit this site and assigns a user ID code, rather than your name or other identifying information. We do not combine the information collected through the use of VWO with personally identifiable information. VWO uses this information to analyze your use of the website, to generate reports about website activities for website operators and to provide further services related to website and internet use. VWO may also share such information with third parties to the extent it is legally required to do so and/or to the extent third parties process data on behalf of VWO. Although VWO plants a permanent cookie on your web browser to identify you as a unique user the next time you visit this site, the cookie cannot be used by anyone but VWO. VWO’s ability to use and share information collected by VWO about your visits to this site is restricted by the VWO Terms of Use and the VWO Privacy Policy. You can prevent VWO from recognizing you on return visits to this site by disabling cookies on your browser. You may deactivate VWO via a web request here:
                            <a href="https://www.vwo.com/opt-out/">https://www.vwo.com/opt-out/</a>.
                        </p>

                        <h2>CALIFORNIA AND EU PRIVACY RIGHTS</h2>

                        <p>California residents who have an established business relationship with Us may make a written request to Us about whether Us has disclosed any Personal Information to any third parties for the third parties' direct marketing purposes during the prior calendar year.
                        </p>

                        <p>Subjects of the European Union may also make a request to Us to receive a copy of their Personal Information which we have collected and stored. Such request may be made
                            <a href="{{ path('indexSupport') }}">here</a>. European Union member state residents have the right, at any time, to know whether your Personal Information has been stored and can consult the data controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons.
                        </p>

                        <p>Except to the extent that we are legally required to retain your Personal Information, we can delete your Personal Information upon request
                            <a href="{{ path('indexSupport') }}">here</a>.</p>

                        <h2>SECURITY</h2>

                        <p>We take reasonable precautions against external threats to maintain security of any information obtained from and about Users, and to protect against the loss, misuse and alterations of information under Our control. Our third party payment processors provide Users with a secure web page through which billing information is submitted when purchasing a membership for Subscribers. All personally identifiable information held by Us is stored in a secure location (behind a firewall with limited administrative access).</p>

                        <p>
                            <strong>International Transfers.</strong> Subject to the terms of this Privacy Policy, Your information may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the privacy laws may not be as protective as those in your jurisdiction. If you are located outside the United States and choose to provide information to us, We transfer Personal Information to the United States and processes it there. Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.
                        </p>

                        <p>
                            <strong>Business Transfers.</strong> If EA, or substantially all of its assets, were acquired, or in the unlikely event that EA goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of EA or its subsidiaries may continue to use your personal information as set forth in this policy.
                        </p>

                        <p>
                            <strong>Third Party Links and Services.</strong> The Sites may contain links to other websites and services or use services not provided by Us. EA cannot be, and is not responsible for the use of data, privacy practices or the content of those websites or services. You should be aware of this when you leave our site and be sure to review the privacy statements of each website they visit that collects information. This Privacy Policy applies solely to personal information collected by EA.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

