{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ form_start(form, {attr: {class: 'form'}}) }}
                {{ form_errors(form) }}
                <div class="form__row">
                    <h3 class="form__title">
                        Got a technical question? Contact us
                    </h3>
                </div>
                <div class="form__row">
                    {{ form_label(form.email, null, {label_attr: {class: 'form__label'}}) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, {attr: {class: 'form__input'}}) }}
                </div>
                <div class="form__row">
                    {{ form_label(form.subject, null, {label_attr: {class: 'form__label'}}) }}
                    {{ form_errors(form.subject) }}
                    {{ form_widget(form.subject, {attr: {class: 'form__input'}}) }}
                </div>
                <div class="form__row">
                    {{ form_label(form.description, null, {label_attr: {class: 'form__label'}}) }}
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description, {attr: {class: 'form__input', cols: 30, rows: 7}}) }}
                    <div
                        class="form__help">Please enter the details of your request. A member of our support staff will respond as soon as possible.
                    </div>
                </div>
                <div class="form__row">
                    {{ form_widget(form.save, {attr: {class: 'form__submit btn btn--secondary btn-small'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

