{% extends 'base.html.twig' %}

{% block body %}
<div class="single">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <article class="single">
                    <h1>EA INTERNET User Terms and Conditions</h1>
                    <p>The following terms apply to your use of the EA Internet website blackmailed.com (the “Website”). By viewing, accessing, registering or purchasing a Subscription on the Website you qualify as a User of the Website and agree to be legally bound by these Terms and Conditions (the "Agreement") between you and EA Internet ("EA"). As a User, this Agreement may refer to you as "you", "your" or "User".</p>
                    <p>IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT, DO NOT USE THE WEBSITE.  Further, Bookmarking or deep linking to Website content shall constitute acceptance of this Agreement and confirmation that the User is OF LEGAL AGE in their jurisdiction TO VIEW THE CONTENT and that the Content is not illegal in the Territory or jurisdiction from which you are accessing any part of the Website, even if any warning page and/or the page containing this Agreement are circumvented.</p>
                    <p>DEFINITIONS</p>
                    <p>The following definitions apply to this Agreement:</p>
                    <p>"Bookmarking" shall mean the act of placing a Web page (URL) into a temporary file on the User's browser so that the User may return to that page at a future date directly, without passing through any preceding pages.</p>
                    <p>"Chargebacks" shall mean a request that You file directly with Your card company or bank to invalidate Fees.</p>
                    <p>"Fees" means amounts paid or payable to EA in exchange for Subscription under this Agreement using a Payment Method. Fees are posted at the Website which posting forms a part of this Agreement.</p>
                    <p>“Login" shall mean the combination of the unique username and password that is sold or provided by the EA to the User and used to access Website.</p>
                    <p>"Payment Method" shall mean the method of payment which You use to purchase Your Subscription including credit card, debit card, money order, online check using our third party payment processing service.</p>
                    <p>“Registration” means the providing of information to receive a Login to certain Services without a fee</p>
                    <p>“Registrant” means a User who accesses the Services as a result of Registration</p>
                    <p>"Services" shall be the limited, non-transferrable license to stream or download images and video or other content from the Website and access certain Website pages and content. Services may vary depending on whether the User is using a Login as a result of Registration or purchasing a Subscription.  EA reserves the right to change the benefits of Registration and/or Subscription at any time in its sole discretion.</p>
                    <p>“Subscriber” means a User who accesses the Services as a result of having purchased a Subscription.</p>
                    <p>"Subscription" shall be the access granted to a User using a Login for a limited period of time, to Website for the purpose of using the Services in exchange for payment of Fees.</p>

                    <h2>AGREEMENT TO VIEW ADULT MATERIAL</h2>
                    <p>The Website is designed and intended solely for adults, namely those persons over 18 years old (or 21 years old in some jurisdictions). This Website contains images, verbal descriptions and audio sounds of a sexually oriented nature containing nudity and graphic depictions of sexual activity. To be a User, you must be an adult over 18 years old (or 21 years old in some jurisdictions), or you may not use or access the Website.</p>
                    <p>By accessing Website, Registering or purchasing a Subscription from the EA you are making the following statements to EA and its licensors and other suppliers:</p>
                    <p>"Under penalty of perjury, I swear/affirm that as of this moment, I am an adult, at least 18 years of age or the age of majority in my jurisdiction and are of the necessary age to access and view the content of this Website. I promise that I will not permit any person(s) under the age of majority in my jurisdiction to have access to any of the material contained within Website. I am fully aware that the Website contains and transmits sexually oriented materials and that such material is in accordance with my local community standards of morality. I understand that when I gain access to Website I will be exposed to visual images, verbal descriptions and audio sounds of a sexually oriented and frankly erotic nature, which may include graphic visual depictions and descriptions of nudity and sexual activity. I represent and warrant that these images, videos and depictions do not in any way infringe on the norms or laws of my country, state/province or local jurisdiction and such access shall be voluntary and for my personal use.”</p>

                    <h2>MEMBERSHIPS</h2>
                    <p>Fees. Users are liable for Fees for Subscription together with all applicable taxes. Users may cancel their Subscription at any time by contacting the EA's customer service 24 hours a day or logging into their account details via the descriptor website indicated on their receipt or Payment Method statement. Users must cancel their Subscription 48 hours prior to the renewal date if they do not wish their Subscription to renew with associated Fees. Up until the date a Subscription is canceled the User authorizes the EA to continue charging the User's Payment Method to pay: (i) Fees for Subscription; (ii) all purchases of other products, services and entertainment provided by Website; and (iii) other liabilities of yours to EA or any third party. EA reserves the right to change the price of the rebill Fee amount by updating the posted Fees in the Website which change shall take effect as of the next rebill unless you cancel 48 hours before such rebill. At any time, should You have any questions about the rebill price or date of your Subscription please contact customer service for the Website.  If a Payment Method is declined, EA and its payment fulfillment provider may process the transaction several more times over the next couple of days. If such payment of Fees is accepted and the User purchasing Subscription qualifies with the other terms of this Agreement, then Subscription shall be considered purchased.</p>
                    <p>Territorial Limitations: Subscription are limited for use within a territory (the "Territory"), provided that the Territory does not include jurisdictions where the Content is illegal.  You may only purchase a Subscription in the Territory where you access the Content from.  If the EA detects that a Subscription purchased or used outside of the Territory, EA may, in its sole discretion, disable Subscription so that the Login will NOT work and shall have the right to terminate this Agreement for breach without any refund for Fees already paid.</p>
                    <p>Subscription Types. Website may offer various types of Memberships, including offering Memberships of different terms of time (“Subscription Terms”) and each with its own Fee.  The Fee will be indicated as a part of the process of purchasing Subscription and will renew at the same Fee and frequency  as set forth in the receipt sent to the User's email address provided to EA. Fees may be changed upon thirty (30) days notice posted on the Website.  During this period you will have the opportunity to cancel. However, if you do not cancel within such thirty (30) days then you are deemed to have accepted the Fee change.</p>
                    <p>Cancellation Policy. Memberships may be canceled on <a href="https://www.truepay.io">www.truepay.io</a>. If a Subscription is canceled before the renewal date the User will still have access for the remainder of the period already paid.</p>
                    <p>Subscription Fees are non-refundable once you use the Login or otherwise access the benefits of your Subscription on Website. Failure to use your Subscription or inability of User to access the Website through no fault of EA shall not be grounds for a refund of Fees.</p>
                    <p>In the event a refund is issued, ALL refunds will be made by the EA who will only credit the Payment Method used to make the original purchase. Determinations as to whether a Refund will be issued and such Refund issue, if issued, within ten (10) days of communication between the User and the EA's customer service.</p>
                    <p>For all billing inquiries you may also visit <a href="https://www.truepay.io">www.truepay.io</a>.</p>
                    <p>All chargebacks will be investigated. Illegal, fraudulent, false or repeated chargebacks may be grounds to refuse Subscription and other future purchases with EA INTERNET and its affiliates and shall constitute a breach of contract. EA INTERNET reserves all rights under law to collect all Fees owed to EA INTERNET.</p>
                    <p>Users providing information to purchase Memberships represent and warrant that the information they provide in purchasing a Subscription is accurate and true.</p>
                    <p>USER CONTENT</p>
                    <p>User Content is any content that is created, originated, edited, modified, uploaded or shared by users (including you) in any way and in any form Website, whether or not shared publicly or privately (“User Content”) and in posting such User Content, you grant EA an unlimited, irrevocable, worldwide license to display your User Content. You are solely responsible for the User Content that you post, upload, link to or otherwise make available via our mobile application. The following rules pertain to User Content. By transmitting and submitting any User Content while using the Website, you agree as follows:</p>
                    <ul>
                        <li>you are solely responsible for the activity that occurs while using the Website;</li>
                        <li>you will not post information that in the opinion of EA is a) malicious, false, inaccurate; b) advertises or promotes any third party content, websites or services; c) violates any law, rule, regulation or ordinance; d) harasses other Users or constitutes hate speech;  or e) interferes with the use of the Website or links to any third party site or service that contains any malware, Trojan horse, virus, keylogger, backdoor, or any code that gains unauthorized access to or interferes with the operation of the Website, EA’s networks or computers or any User network or computer;</li>
                        <li>you will not share content that is copyrighted or subject to third party proprietary rights, including privacy, publicity, trade secret, etc., unless you are the owner of such rights or have the appropriate permission from their rightful owner to specifically submit such content; and</li>
                        <li>you hereby affirm we have the right to determine whether any of your User Content submissions are appropriate and comply with this Agreement, as well as remove any and/or all of your submissions, and terminate your account with or without prior notice.</li>
                    </ul>
                    <p>You understand and agree that any liability, loss or damage that occurs as a result of the use of any User Content that you make available or access through your use of the  Users are responsible for the information they send or display through Website even if a claim should arise after termination of the Subscription. All messages shall be deemed to be readily accessible to the general public. Do not use Website for any communication for which you intend only you and the intended recipients to read as notice is hereby given that all messages entered onto Website can and may be read by the operators of Website, whether or not they are the intended recipients. EA is not responsible for any public display or misuse of your User Content.  EA does not, and cannot, pre-screen or monitor all User Content. However, at its discretion, EA, or technology EA  employs, may monitor and/or record your interactions with the Website, subject to the limitation of the Website privacy policy. Violations of this section may result in the immediate termination of your Subscription or Registration.</p>

                    <h2>REGISTRATION</h2>
                    <p>When you Register on the Website you may receive limited access to certain services, such as, but not necessarily limited to unlimited access to video trailers and promotional videos.  EA INTERNET reserves the right to change, add or reduce the benefits of Registration at any time.   Registrant’s information must be accurate. Registrants agree to be bound by this Agreement and represent and warrant that the information they provide during Registration is accurate and true. Access to Content in the Registrations section is through Login</p>

                    <h2>LICENSE</h2>
                    <p>Subscription includes a single, limited, personal, non-transferrable, non-exclusive license (the "License") to use the Website for the sole purpose of accessing the content published therein (the "Content") in the manner provided for therein. You shall not resell, distribute or engage in any commercialization of the Website or its Content. You shall not modify or copy any of the Content, use it for any public display, performance, sale or rental, remove, modify or alter any copyright or other proprietary notice or trademarks of the Content or transfer any Content to any third party.</p>
                    <p>Subscription access to and use of the Website is through Login. Each User is responsible for keeping their Login information confidential. Unauthorized access to the Website is a breach of this Agreement. You are responsible for your Login credentials and purchases made or other acts or omissions carried out with them.</p>
                    <p>EA retains all right, title and interest in any and all intellectual property rights in the Website and its Content. All rights are reserved by EA Internet, 14141 Covello Street, Unit 8-C, Van Nuys, California 91405 USA, and its suppliers. Except for the limited license contained in this Agreement, you agree that you have no claim or interest in the Intellectual Property or Content on this Website in any way, shape or form.</p>
                    <p>EA reserves the right to modify any or all of the Content or Website without your prior notice or consent.</p>
                    <p>The EA reserves the right to terminate this License at any time if the User breaches the terms of this Agreement.</p>
                    <p>User grants to EA and its affiliates a worldwide, perpetual, irrevocable, royalty-free license to use and incorporate into the Services or Content any suggestion, enhancement request, recommendation, correction or other feedback provided by Users relating to the operation of the Services.</p>

                    <h2>TERM AND TERMINATION</h2>
                    <p>Subscription, Subscription Term and the License shall begin as of when Fees are paid and Login is used and shall end when the Subscription Term ends or as otherwise provided herein.</p>
                <p>Users are responsible for securing their own Subscription, Registration and Login information.  If User believes or has reason to believe their Login, Subscription or Registration information in their possession has been the subject of an apparent breach of security, such as loss, theft, unauthorized disclosure or use of a Login, User must promptly inform EA. Until will not be liable for any such breach in security unless the EA is notified of such breach and until such notice, the User will be liable for any unauthorized use of the Services.</p>
                    <p>Users may terminate their Subscription or Registration at any time and without cause by providing customer service notice to cancel. Users may complete a form located at <a href="https://www.truepay.io">www.truepay.io</a> or contact customer service directly. Users are liable for all Fees incurred on the Subscription until 48 hours after notification of termination is received by the EA's customer service department. It is the User's responsibility to ensure notification is adequately provided. Notification should include full name, email address used upon joining and where applicable, the last four (4) digits of the Payment Method then in use.</p>
                <p>EA can terminate this Agreement at any time and for any reason or for no reason on notice to you through the Website, provided that on such a termination without cause (e.g. not for lack of payment or violating these Terms and Conditions) you shall be entitled to use the Website for the Subscription Term for which Fees have already been paid.</p>
                <p>By purchasing or terminating a Subscription User agrees to receive an email confirmation thereof to the email address last provided to the Website. Users may not opt out of receiving such emails. Therefore it is important to provide suitable contact information on sign-up for Subscription.</p>
                <p>Users that have terminated their own Memberships may reactivate said Subscription by entering their original Login details in the User Login section. Users will have the option to select the Subscription of their choice when they reactivate their Login. The new Subscription will be charged at the price and at the frequency indicated in the receipt sent to User's email address. User's existing information will be used for the billing and rebilling of the Subscription.</p>

                <h2>DISCLAIMERS</h2>
                <p>The Website and its Content are provided "as is" and expressly disclaims any express or implied warranty of any kind including warranties of merchantability or fitness for a particular purpose. The EA offers no assurance of uninterrupted or error free Services. The EA does not warrant the accuracy, completeness OR AVAILABILITY of the information, text, VIDEO, graphics, links or other items contained on Website.</p>
                <p>EA IS NOT LIABLE FOR ANY THIRD PARTY DISRUPTION OF ACCESS TO THE WEBSITE oR CONTENT NOR IS IT LIABLE FOR ANY DAMAGE OR DENIAL OF ACCESS TO ANY COMPUTER, NETWORK OR COMMUNICATIONS EQUIPMENT.</p>
                <p>Please read the privacy policy for information on what information is gathered from the User and how it may be used by the EA and Website operator. EA reserves the right to transfer any and all data in its possession concerning you and your Subscription to a third party that is a purchaser of all or substantially all of the assets or shares of EA or as part of a corporate reorganization.</p>
                <p>On the Website, EA may provide you with convenient links to third party website(s) (“Third Party Sites”) as well as content or items belonging to or originating from third parties (the “Third Party Applications, Software or Content”). These links are provided as a courtesy to EA’s Users.  EA has no control over Third Party Sites and Third Party Applications, Software or Content or the promotions, materials, information, goods or services available on these Third Party Sites or Third Party Applications, Software or Content.  Such Third Party Sites and Third Party Applications, Software or Content are not investigated, monitored or checked for accuracy, appropriateness, or completeness by EA, and EA is not responsible for any Third Party Sites accessed through the Website or any Third Party Applications, Software or Content posted on, available through or installed from the Website or applications, including the content, accuracy, offensiveness, opinions, reliability, safety, privacy practices or other policies of or contained in the Third Party Sites or the Third Party Applications, Software or Content.  Inclusion of, linking to or permitting the use or installation of any Third Party Website or any Third Party Applications, Software or Content does not imply approval or endorsement thereof by EA.  If you decide to leave the Website and access the Third Party Sites or to use or install any Third Party Applications, Software or Content, you do so at your own risk and you should be aware that our terms and policies no longer govern.  You should review the applicable terms and policies, including privacy and data gathering practices, of any Website to which you navigate from the Website or relating to any applications you use or install from the Website</p>

                <h2>COPYRIGHT COMPLAINTS AND COPYRIGHT AGENT</h2>
                <p>Termination of Repeat Infringer Accounts.  EA respects the intellectual property rights of others and requests that the users do the same.  Pursuant to 17 U.S.C. 512(i) of the United States Copyright Act, EA has adopted and implemented a policy that provides for the termination in appropriate circumstances of users of EA’s Site and App who are repeat infringers.  EA may terminate access for participants or users who are found repeatedly to provide or post protected third party content without necessary rights and permissions.</p>
                <p>DMCA Take-Down Notices.  If you are a copyright owner or an agent thereof and believe, in good faith, that any materials provided on the Service infringe upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act (see 17 U.S.C 512) (“DMCA”) by sending the following information in writing to EA’s designated copyright agent at: dns@evilangel.com, EA Internet, 14141 Covello Street, Unit 8-C, Van Nuys, California 91405 USA</p>
                <ol class="list--alpha">
                    <li>The date of your notification;</li>
                    <li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
                    <li>A description of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;</li>
                    <li>A description of the material that is claimed to be infringing or to be the subject of infringing activity and information sufficient to enable us to locate such work;</li>
                    <li>Information reasonably sufficient to permit the service provider to contact you, such as an address, telephone number, and/or email address;</li>
                    <li>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</li>
                    <li>A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
                </ol>
                <p>Counter-Notices. If you believe that your User Content that has been removed from the Site is not infringing, or that you have the authorization from the copyright owner, the copyright owne r's agent, or pursuant to the law, to post and use the content in your User Content, you may send a counter-notice containing the following information to our copyright agent using the contact information set forth above:</p>
                <ol class="list--decimal">
                    <li>Your physical or electronic signature;</li>
                    <li>A description of the content that has been removed and the location at which the content appeared before it was removed;</li>
                    <li>a statement under penalty of perjury that you have a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled; and</li>
                    <li>Your name, address, telephone number, and email address, a statement that you consent to the jurisdiction of the federal court in New York and a statement that you will accept service of process from the person who provided notification of the alleged infringement under subsection 17 U.S.C. §512 (c)(1)(C) or an agent of such person.</li>
                </ol>
                    <p>If a counter-notice is received by EA’s copyright agent, EA may send a copy of the counter-notice to the original complaining party informing such person that it may reinstate the removed content in 10 business days.  Unless the copyright owner files an action seeking a court order against the content provider, member or user, the removed content may (in the EA’s discretion) be reinstated on the Site in 10 to 14 business days or more after receipt of the counter-notice.</p>
                    <h2>Right to Amend</h2>
                    <p>EA can amend this Agreement at any time in its sole discretion by posting an updated version of this Agreement to the Website and notifying users at Login.  EA will take reasonable steps to inform you in advance, if possible of any such amendment as set forth above.</p>
                    <h2>California Consumer Notice</h2>
                    <p>Under California Civil Code Section 1789.3, California users of EA’s services receive the following specific consumer rights notice: The Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs may be contacted in writing at 1020 N Street, #501, Sacramento, California 95814, or by telephone at 1-916-445-1254.</p>
                    <h2>Miscellaneous</h2>
                    <p>Limitation of Liability. TO THE EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL EA INTERNET, ITS AFFILIATES, DIRECTORS, OR EMPLOYEES, OR ITS LICENSORS OR PARTNERS, BE LIABLE TO YOU FOR ANY LOSS OF PROFITS, USE,  CONTENT OR DATA, OR FOR ANY INCIDENTAL, INDIRECT, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, HOWEVER ARISING, THAT RESULT FROM (A) THE USE, DISCLOSURE, OR DISPLAY OF CONTENT; (B) YOUR USE OR INABILITY TO USE THE SERVICE; (C) THE SERVICE GENERALLY OR THE SOFTWARE OR SYSTEMS THAT MAKE THE SERVICE AVAILABLE; OR (D) ANY OTHER INTERACTIONS WITH EA OR ANY OTHER USER OF THE SERVICE, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT EA INTERNET HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. You agree that the liability of EA hereunder shall not exceed the amount of Fees actually paid by you during the 30 days prior to the event giving rise to liability and unless prohibited by law, any cause of action must be brought within one year of the incident relating to the cause of action. You also agree to waive your rights to a jury trial for any cause of action. You agree that any cause of action related to or arising out of your relationship with EA must commence within ONE year after the cause of action accrues.  Otherwise, such cause of action is permanently barred.</p>
                    <p>Indemnity.  You agree to indemnify, defend and hold harmless EA. and its officers, directors, employees, agents, affiliates, licensors, parents and subsidiaries for any and all claims, demands, liabilities and disputes arising from or related to your use of the Website as well as any User  Content generated by you thereto, including, but not limited any damages, costs, reasonable legal fees arising in any way.</p>
                    <p>Severability. If any part of this Agreement is held invalid or unenforceable, that portion of the Agreement will be construed consistent with applicable law.  The remaining portions will remain in full force and effect. Any failure on the part of Pare to enforce any provision of this Agreement will not be considered a waiver of our right to enforce such provision.  Our rights under this Agreement will survive any termination of this Agreement.</p>
                    <p>Notices. Notices by EA or its Website to Users may be given by means of electronic messages, by a general posting on Website, by mail or by telephone.</p>
                    <p>Customer Care. Inquiries regarding Subscription, Registration or the use of this Website must be directed to the customer service department <a href="{{ path('indexSupport') }}">here</a>.</p>
                    <p>Governing Law. This Agreement shall be governed pursuant to the laws of the state of California. Any and all disputes arising under this Agreement shall be resolved exclusively before courts of competent jurisdiction in the county of Los Angeles.</p>
                    <p>Assignment. EA reserves the right to assign any or all of its rights or obligations under this Agreement to a third party without prior notice or consent from User.</p>
                    <p>The following Sections hereof shall survive termination of this Agreement: Definitions, Agreement to View Adult Material, Disclaimers and Miscellaneous.</p>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}